.code-input {
  direction: ltr;
  text-align: left;
  height: 500px;
  background: #fff;
  overflow: auto;
  position: relative;
  width: 100%;

  * {
    direction: ltr;
    text-align: left;
  }

  &:after {
    clear: both;
    display: block;
    content: " ";
  }

  &.full{
    height:calc(100vh - 50px);
  }
}

@media (max-width: 860px) {
  .code-input {
  
  }
}
