<div id="space">
  <div class="moon">
    <a href="https://serendip.agency" target="_blank"> <img *ngIf="!loading" class="logo" src='assets/graphics/brand/serendip-circle.svg' />
    </a>
    <div class="loading" *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>

    <div class="wirzard">
      <form *ngIf="tab == 'new'" (ngSubmit)="saveBusiness()" [formGroup]="businessForm" class="">

        <!-- <mat-form-field>
      <input matInput placeholder="نام" formControlName="firstName" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="نام‌خانوادگی" formControlName="lastName" />
    </mat-form-field>


    <mat-form-field>
      <input matInput placeholder="آدرس ایمیل" dir="auto" formControlName="email" />
    </mat-form-field> -->

        <div class="title">
          نام کسب‌وکار خود را وارد کنید.
        </div>
        <mat-form-field>
          <input matInput placeholder="نام کسب و کار" formControlName="title" />
        </mat-form-field>


        <div class="submit">
          <button color="secondary" type="submit" mat-raised-button>ذخیره</button>
        </div>

        <ul class="links">
          <li>
            <a target="_blank" href="https://serendip.agency">
              وبسایت سرندیپ </a>
          </li>
        </ul>

      </form>


      <form class="list" *ngIf="tab == 'list'">


        <div class="title">
          کسب‌وکار مورد نظر را انتخاب کنید.
        </div>
        <button color="secondary" *ngFor="let item of list" type="button" (click)="choose(item)" mat-raised-button>
       ورود به  کسب‌وکار {{item.title}}

        </button>

        <ul class="links">
          <li>
            <a target="_blank" href="https://serendip.agency">
              وبسایت سرندیپ </a>
          </li>
        </ul>

      </form>

    </div>
  </div>

</div>
