<div class="widget">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <img src="/assets/icons/service.svg" />
      </div>
      <mat-card-title>فرم خدمات</mat-card-title>
      <mat-card-subtitle>ثبت خدمت جدید</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <div class="logbox">
        {{ serviceForm.value | json }}
      </div>

      <form [formGroup]="serviceForm" class="">


        <div class="double-field">

          <mat-form-field>
            <input dir="ltr" matInput placeholder="تاریخ درخواست خدمت " required autocomplete="off" formControlName="receivedDate"
              theme="dp-material" [dpDayPicker]="{}" />
          </mat-form-field>
          <mat-form-field>
            <input dir="ltr" matInput [ngxTimepicker]="receivedTimePicker" [format]="24" placeholder="ساعت دریافت شکایت"
              required autocomplete="off" formControlName="receivedTime" />
            <ngx-material-timepicker #receivedTimePicker [cancelBtnTmpl]="receivedTimeCancelButton" [confirmBtnTmpl]="receivedTimeConfirmButton"></ngx-material-timepicker>
            <ng-template #receivedTimeConfirmButton>
              <button mat-raised-button color="primary">انتخاب</button>
            </ng-template>
            <ng-template #receivedTimeCancelButton>
              <button mat-raised-button color="secondary">انصراف</button>
            </ng-template>
          </mat-form-field>
        </div>

        <div class="double-field">
          <mat-form-field>
            <input dir="ltr" matInput placeholder="تاریخ مهلت انجام " required autocomplete="off" formControlName="dueDate"
              theme="dp-material" [dpDayPicker]="{}" />
          </mat-form-field>
          <mat-form-field>
            <input dir="ltr" matInput [ngxTimepicker]="dueTimePicker" [format]="24" placeholder="ساعت مهلت انجام"
              required autocomplete="off" formControlName="dueTime" />
            <ngx-material-timepicker #dueTimePicker [cancelBtnTmpl]="dueTimeCancelButton" [confirmBtnTmpl]="dueTimeConfirmButton"></ngx-material-timepicker>
            <ng-template #dueTimeConfirmButton>
              <button mat-raised-button color="primary">انتخاب</button>
            </ng-template>
            <ng-template #dueTimeCancelButton>
              <button mat-raised-button color="secondary">انصراف</button>
            </ng-template>
          </mat-form-field>
        </div>


        <div>
          <mat-slide-toggle formControlName="isDone">خدمت انجام شده است.</mat-slide-toggle>

        </div>

        <div class="double-field" *ngIf="serviceForm.get('isDone').value">

          <mat-form-field>
            <input dir="ltr" matInput placeholder="تاریخ انجام" required autocomplete="off" formControlName="doneDate"
              theme="dp-material" [dpDayPicker]="{}" />
          </mat-form-field>
          <mat-form-field>
            <input dir="ltr" matInput [ngxTimepicker]="doneTimePicker" [format]="24" placeholder="ساعت انجام"
              required autocomplete="off" formControlName="doneTime" />
            <ngx-material-timepicker #doneTimePicker [cancelBtnTmpl]="doneTimeCancelButton" [confirmBtnTmpl]="doneTimeConfirmButton"></ngx-material-timepicker>
            <ng-template #doneTimeConfirmButton>
              <button mat-raised-button color="primary">انتخاب</button>
            </ng-template>
            <ng-template #doneTimeCancelButton>
              <button mat-raised-button color="secondary">انصراف</button>
            </ng-template>
          </mat-form-field>
        </div>





      </form>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="save()">ثبت</button>
      <button mat-button type="reset" (click)="reset()">ریست</button>
    </mat-card-actions>
  </mat-card>
</div>