<div class="widget">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <img src="/assets/icons/service.svg" />
      </div>
      <mat-card-title>فرم خدمات</mat-card-title>
      <mat-card-subtitle>ثبت خدمت جدید</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <div class="logbox">
        {{ model | json }}
      </div>

      <form class="">

        <app-calendar-input [label]="'تاریخ درخواست خدمت'" [model]="model.receivedDate" [calendarType]="'persian'"
          (modelChange)="model.receivedDate = $event"></app-calendar-input>



        <app-calendar-input [label]="'تاریخ مهلت انجام'" [model]="model.dueDate" [calendarType]="'persian'"
          (modelChange)="model.dueDate = $event"></app-calendar-input>




        <div>
          <mat-slide-toggle>خدمت انجام شده است.</mat-slide-toggle>
        </div>



        <app-calendar-input [label]="'تاریخ   انجام'" [model]="model.doneDate" [calendarType]="'persian'" (modelChange)="model.doneDate = $event"></app-calendar-input>






      </form>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="save()">ثبت</button>
      <button mat-button type="reset" (click)="reset()">ریست</button>
    </mat-card-actions>
  </mat-card>
</div>