.form-array-row {
  &:after {
    clear: both;
    display: block;
    content: " ";
  }
  .item {
    width: calc(~"100% - 30px");
    float: right;
    vertical-align: bottom;
  }
  .action {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    float: left;
    vertical-align: bottom;
  }
}


.dynamic-form-part{
  margin:15px 0;
}
