<div class="widget" *ngIf="formType != 'inline'">
  <mat-card [class.minimal]="minimal">
    <mat-card-header>
      <div mat-card-avatar>
        <img [src]="'/assets/icons/' + entityIcon  +'.svg'" />
      </div>
      <mat-card-title *ngIf="!minimal">فرم اطلاعات
        {{entityLabel}}
      </mat-card-title>

      <mat-card-title *ngIf=" minimal">
        {{title}}
      </mat-card-title>


      <mat-card-subtitle *ngIf="!model._id && !minimal">
        ثبت
        {{entityLabel}}
        جدید
      </mat-card-subtitle>

      <mat-card-subtitle *ngIf="model._id && !minimal">
        ویرایش
        {{entityLabel}}

      </mat-card-subtitle>

      <div *ngIf="!minimal" class="action" [class.active]="mode == 'triggers'" (click)="mode = mode == 'triggers' ? 'form':'triggers'">
        <img [src]="'/assets/icons/' + 'complaints-customize-customer-voice-3'  +'.svg'" />
      </div>

    </mat-card-header>

    <mat-progress-bar *ngIf="loading" [color]="'primary'" mode="indeterminate">
    </mat-progress-bar>

    <mat-card-content *ngIf="mode == 'form'">
      {{model._id}}
      <!-- <textarea class="logbox">{{model | json}}</textarea> -->

      <ng-container *ngTemplateOutlet="form"></ng-container>

    </mat-card-content>

    <mat-card-content *ngIf="mode == 'triggers'">
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="secondary" (click)="save()">
        <img *ngIf="saveButtonIcon" [src]="'/assets/icons/'+saveButtonIcon +'.svg'" />

        {{saveButtonText}}</button>
      <button mat-button type="reset" class="pull-left" (click)="reset()">
        <img [src]="'/assets/icons/refresh.svg'" />

      </button>

      <div class="clearfix"></div>
    </mat-card-actions>


  </mat-card>
</div>

<div class="inline-form" *ngIf="formType =='inline'">
  <ng-container *ngTemplateOutlet="form"></ng-container>
</div>


<ng-template #form>
  <form class="" *ngIf="formSchema">

    <div class="dynamic-form-part" *ngFor="let part of formSchema.parts">



      <div [class]="part.cssClass">
        <ndc-dynamic *ngIf="part.propertyType != 'array'" [ndcDynamicInputs]="extendObj( { model : model[part.propertyName]  } , part.inputs || {} )"
          [ndcDynamicOutputs]="{  modelChange : dynamicPartModelChange(part.propertyName)  }" [ndcDynamicComponent]="getDynamicPart(part.componentName)"></ndc-dynamic>
      </div>
      <div *ngIf="part.propertyType =='array'">
        <div *ngFor="let item of model[part.propertyName];let itemIndex=index">
          <div class="form-array-row">
            <div class="item">
              <div [class]="part.cssClass">
                <div *ngFor="let subPart of part.parts" [class]="subPart.cssClass">
                  <ndc-dynamic [ndcDynamicInputs]="extendObj( { model : model[part.propertyName][itemIndex][subPart.propertyName]  } , subPart.inputs || {} )"
                    [ndcDynamicOutputs]="{  modelChange : dynamicPartModelChange(part.propertyName,subPart.propertyName,itemIndex)  }"
                    [ndcDynamicComponent]="getDynamicPart(subPart.componentName)"></ndc-dynamic>
                </div>
              </div>
            </div>
            <div class="action">
              <div class="plus" *ngIf="itemIndex == 0" (click)="model[part.propertyName].push('');detectChange();">
                <img src="/assets/icons/plus-add-2.svg" />
              </div>
              <div class="minus" *ngIf="itemIndex != 0" (click)="model[part.propertyName].splice(itemIndex,1);detectChange();">
                <img src="/assets/icons/recycle-bin-trash.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="part.propertyType =='object'">
        <div [class]="part.cssClass">
          <div *ngFor="let subPart of part.parts" [class]="subPart.cssClass">
            <ndc-dynamic [ndcDynamicInputs]="extendObj( { model : model[part.propertyName][subPart.propertyName]  } , subPart.inputs || {} )"
              [ndcDynamicOutputs]="{  modelChange : dynamicPartModelChange(part.propertyName,subPart.propertyName)  }"
              [ndcDynamicComponent]="getDynamicPart(subPart.componentName)"></ndc-dynamic>
          </div>
        </div>
      </div>




    </div>

  </form>

  <div *ngIf="!formSchema" class="logbox">
    Form schema for {{ name }} not found. put them in schema/forms.json
  </div>
</ng-template>
