<div class="widget form" *ngIf="formType != 'inline'">
  <mat-card [class.minimal]="minimal">
    <mat-card-header>
      <div mat-card-avatar>
        <img [src]="'assets/icons/' + entityIcon + '.svg'" />
      </div>
      <mat-card-title *ngIf="!minimal"
        >فرم اطلاعات {{ entityLabel }}
      </mat-card-title>

      <mat-card-title *ngIf="minimal"> {{ title }} </mat-card-title>

      <mat-card-subtitle *ngIf="!model._id && !minimal">
        ثبت {{ entityLabel }} جدید
      </mat-card-subtitle>

      <mat-card-subtitle *ngIf="model._id && !minimal">
        ویرایش {{ entityLabel }}
      </mat-card-subtitle>

      <div
        *ngIf="!minimal"
        class="action"
        [class.active]="mode == 'triggers'"
        (click)="mode = mode == 'triggers' ? 'form' : 'triggers'"
      >
        <img
          [src]="
            'assets/icons/' + 'complaints-customize-customer-voice-3' + '.svg'
          "
        />
      </div>
      <div class="form-status">
        <span class="text" *ngIf="model._id"> ویرایش </span>

        <span class="text" *ngIf="model._oid"> ویرایش سند همگام‌نشده </span>

        <span class="text" *ngIf="!model._id"> ثبت سند جدید </span>

        <span class="id" *ngIf="model._id"> {{ model._id }} </span>

        <span class="id" *ngIf="model._oid"> {{ model._oid }} </span>
      </div>
    </mat-card-header>

    <mat-progress-bar *ngIf="loading" [color]="'primary'" mode="indeterminate">
    </mat-progress-bar>

    <mat-card-content *ngIf="mode == 'form'">
      <textarea class="logbox">{{ model | json }}</textarea>

      <ng-container *ngTemplateOutlet="form"></ng-container>
    </mat-card-content>

    <mat-card-content *ngIf="mode == 'triggers'"> </mat-card-content>

    <mat-card-actions>
      <button (click)="save()" class="sp-button-icon">
        <img
          *ngIf="saveButtonIcon"
          [src]="'assets/icons/' + saveButtonIcon + '.svg'"
        />
        <!-- {{saveButtonText}} -->
      </button>

      <button class="pull-left sp-button-icon" (click)="reset()">
        <img [src]="'assets/icons/refresh.svg'" />
      </button>

      <div class="clearfix"></div>
    </mat-card-actions>
  </mat-card>
</div>

<div class="inline-form" *ngIf="formType == 'inline'">
  <ng-container *ngTemplateOutlet="form"></ng-container>
</div>

<ng-template #form>
  <form class="" *ngIf="formSchema">
    <app-form-parts [formSchema]="formSchema" [model]="model"> </app-form-parts>
  </form>

  <div *ngIf="!formSchema" class="logbox">
    Form schema for {{ name }} not found. put them in schema/forms.json
  </div>
</ng-template>
