<mat-form-field>
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let item of  model" (removed)="removeEmployee(item)">
      <span (click)="goEmployee(item)">
        {{ getEmployee(item)?.firstName }}
        {{ getEmployee(item)?.lastName }}
      </span>
      <mat-icon matChipRemove>
        <img src="assets/icons/recycle-bin-trash.svg" alt="" />
      </mat-icon>
    </mat-chip>
    <input placeholder="افراد مرتبط" #peopleAutoInput (input)="filterPeople(peopleAutoInput.value,model)"
      [matChipInputFor]="chipList" [matAutocomplete]="peopleAuto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="false" (matChipInputTokenEnd)="peopleAutoInput.value= ''">
  </mat-chip-list>

  <mat-autocomplete #peopleAuto="matAutocomplete" (optionSelected)="selectEmployee(  $event);peopleAutoInput.value= ''">
    <mat-option *ngFor="let item of filteredPeople" [value]="item._id">
      {{ item.firstName }}
      {{ item.lastName }}
      {{ rpd( item.mobiles[0]?.value) }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>