<div class="widget widget-5">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <img src="/assets/icons/employee-2.svg" />
      </div>
      <mat-card-title>فرم افراد حقیقی</mat-card-title>
      <mat-card-subtitle>ثبت فرد جدید</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="logbox">
        {{ peopleForm.value | json }}
      </div>
      <form [formGroup]="peopleForm" class="">

        <mat-form-field>
          <input matInput placeholder="نام" formControlName="firstName" />
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="نام‌خانوادگی" formControlName="lastName" />
        </mat-form-field>
        <!-- 
        <div formArrayName="mobiles">

          <div class="double-field" *ngFor="let social of getFormArray(peopleForm,'mobiles'); let i=index"
            [formGroupName]="i">

            <mat-form-field class="w-30">

              <mat-select placeholder="نوع {{i == 0 ? '' :  rpd( i + 1)}}" formControlName="type">
                <mat-option *ngFor="let type of ['منزل','موبایل','پشتیبان']" [value]="type">
                  {{type}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="w-70">
              <input matInput placeholder="موبایل {{i == 0 ? '' : rpd( i + 1)}}" formControlName="value" dir="ltr" />
              <div class="plus" *ngIf="i == 0" matSuffix (click)="addMobile()">
                <img src="/assets/icons/plus-add-2.svg" />
              </div>
              <div class="minus" *ngIf="i != 0" matSuffix (click)="removeMobile(i)">
                <img src="/assets/icons/recycle-bin-trash.svg" />
              </div>
            </mat-form-field>

          </div>
        </div> -->

        <div formArrayName="mobiles">
          <mat-form-field *ngFor="let mobile of getFormArray(peopleForm,'mobiles'); let i=index">
            <input matInput placeholder="موبایل {{i == 0 ? '' : rpd( i + 1)}}" [formControlName]="i" dir="ltr" />

            <div class="plus" *ngIf="i == 0" matSuffix (click)="peopleForm.get('mobiles').push(fb.control(''))">
              <img src="/assets/icons/plus-add-2.svg" />
            </div>
            <div class="minus" *ngIf="i != 0" matSuffix (click)="peopleForm.get('mobiles').removeAt(i)">
              <img src="/assets/icons/recycle-bin-trash.svg" />
            </div>
          </mat-form-field>
        </div>

        <div formArrayName="emails">
          <mat-form-field *ngFor="let email of getFormArray(peopleForm,'emails'); let i=index">
            <input matInput placeholder="ایمیل {{i == 0 ? '' : rpd( i + 1)}}" [formControlName]="i" dir="ltr" />

            <div class="plus" *ngIf="i == 0" matSuffix (click)="peopleForm.get('emails').push(fb.control(''))">
              <img src="/assets/icons/plus-add-2.svg" />
            </div>
            <div class="minus" *ngIf="i != 0" matSuffix (click)="peopleForm.get('emails').removeAt(i)">
              <img src="/assets/icons/recycle-bin-trash.svg" />
            </div>
          </mat-form-field>
        </div>


        <div formArrayName="socials">

          <div class="double-field" *ngFor="let social of getFormArray(peopleForm,'socials'); let i=index"
            [formGroupName]="i">

            <mat-form-field class="w-40">

              <mat-select placeholder="شبکه {{i == 0 ? '' :  rpd( i + 1)}}" formControlName="type">
                <mat-option *ngFor="let type of ['اینستاگرام','توئیتر','فیسبوک']" [value]="type">
                  {{type}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="w-60">
              <input matInput placeholder="لینک {{i == 0 ? '' : rpd( i + 1)}}" formControlName="value" dir="ltr" />
              <div class="plus" *ngIf="i == 0" matSuffix (click)="addSocial()">
                <img src="/assets/icons/plus-add-2.svg" />
              </div>
              <div class="minus" *ngIf="i != 0" matSuffix (click)="removeSocial(i)">
                <img src="/assets/icons/recycle-bin-trash.svg" />
              </div>
            </mat-form-field>

          </div>
        </div>

        <div class="form-group">
          <mat-label>
            جنسیت:
          </mat-label>
          <mat-radio-group formControlName="gender">
            <mat-radio-button value="male">مرد</mat-radio-button>
            <mat-radio-button value="female">زن</mat-radio-button>
          </mat-radio-group>
        </div>

        <div formArrayName="contacts">

          <div class="contact" *ngFor="let contact of peopleForm.get('contacts').controls; let i=index"
            [formGroupName]="i">

            <mat-form-field>
              <input matInput placeholder="اطلاعات تماس" formControlName="name" />
            </mat-form-field>

            <div formArrayName="telephones">
              <mat-form-field *ngFor="let telphone of contact.get('telephones').controls; let b=index">
                <input matInput placeholder="تلفن ثابت {{b == 0 ? '' : b + 1}}" [formControlName]="b" dir="ltr" />

                <div class="plus" *ngIf="b == 0" matSuffix (click)="contact.get('telephones').push(fb.control(''));">
                  <img src="/assets/icons/plus-add-2.svg" />
                </div>
                <div class="minus" *ngIf="b != 0" matSuffix (click)="contact.get('telephones').removeAt(b);">
                  <img src="/assets/icons/recycle-bin-trash.svg" />
                </div>
              </mat-form-field>
            </div>

            <div formArrayName="faxes">
              <mat-form-field *ngFor="let telphone of contact.get('faxes').controls; let b=index">
                <input matInput placeholder="فکس {{b == 0 ? '' : b + 1}}" [formControlName]="b" dir="ltr" />

                <div class="plus" *ngIf="b == 0" matSuffix (click)="contact.get('faxes').push(fb.control(''));">
                  <img src="/assets/icons/plus-add-2.svg" />
                </div>
                <div class="minus" *ngIf="b != 0" matSuffix (click)="contact.get('faxes').removeAt(b);">
                  <img src="/assets/icons/recycle-bin-trash.svg" />
                </div>
              </mat-form-field>
            </div>

        
            

            <div formGroupName="address">



              <mat-form-field>
                <input type="text" placeholder="استان" (change)="filterStates(contact.get('address').value.state).length == 0 ? contact.get('address').patchValue({state : ''}) : ''"
                  matInput formControlName="state" [matAutocomplete]="stateAuto">
                <mat-autocomplete #stateAuto="matAutocomplete">
                  <mat-option *ngFor="let option of filterStates(contact.get('address').value.state)" [value]="option.name">
                    {{option.name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>



              <mat-form-field>
                <input type="text" placeholder="شهر" (change)="filterCities(contact.get('address').value.state,contact.get('address').value.city).length == 0 ? contact.get('address').patchValue({city : ''}) : ''"
                  matInput formControlName="city" [matAutocomplete]="cityAuto">
                <mat-autocomplete #cityAuto="matAutocomplete">
                  <mat-option *ngFor="let option of filterCities(contact.get('address').value.state,contact.get('address').value.city)"
                    [value]="option.name">
                    {{option.name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>


              <mat-form-field>
                <input type="text" matInput placeholder="موقعیت مکانی" formControlName="geo" dir="ltr" />
                <div class="location" (click)="setGeo(contact)" matSuffix>
                  <img src="/assets/icons/location-address-1.svg" />
                </div>
                <!-- <div class="location" *ngIf="contact.get('address').get('geo').value" (click)="goGeo(contact.get('address').get('geo').value)"
                  matSuffix>
                  <img src="/assets/icons/location-address-2.svg" />
                </div> -->
              </mat-form-field>


              <mat-form-field>
                <textarea matInput placeholder="آدرس پستی" formControlName="text"></textarea>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="کد پستی" formControlName="postalCode" />
              </mat-form-field>

            </div>


          </div>
        </div>


      </form>


    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="save()">ثبت</button>
      <button mat-button type="reset" (click)="reset()">ریست</button>
    </mat-card-actions>
  </mat-card>
</div>