<div [class]="viewMode + ' storage'">
  <section class="browser">

    <ul class="commands bottom" *ngIf="mode">
      <li *ngIf="mode && mode != 'newFolder' && !modePathsSelected"
        (click)="modeSelectedPaths.length > 0 ? selectEvents.emit(modeSelectedPaths) : null">
        <span>
          انتخاب شد ({{modeSelectedPaths.length.toString() | rpd}})
        </span>
      </li>

      <li *ngIf="mode && mode === 'newFolder' " (click)="selectEvents.emit([newFolderName])  ">
        <span>
          ساخت فولدر
        </span>
      </li>



      <li *ngIf="mode && !modePathsSelected" class="pull-left" (click)="selectEvents.emit([]);mode = '';">
        <span>
          انصراف
        </span>
      </li>
    </ul>
    <ul class="commands" *ngIf="folderPath" [class.disabled]="folderPath == '/'">
      <li class="upload" *ngIf="!mode || mode == 'select'">
        <input type="file" multiple (change)="uploadZoneChange($event)" id="upload-zone" />
        <img src="assets/icons/upload.svg" title="آپلود" />
      </li>



      <li *ngIf="!mode || mode == 'download'" (click)="setMode('download')">
        <img src="assets/icons/download.svg" title="دانلود" />
        <span *ngIf="mode == 'newFolder'">
          فایل و یا فولدر‌های مورد نظر برای
          <b>دانلود</b>
          را انتخاب کنید
        </span>
      </li>

      <li *ngIf="!mode || mode == 'newFolder'" (click)="setMode('newFolder')">
        <img src="assets/icons/new-folder-1.svg" title="فولدر جدید" />

        <span *ngIf="mode == 'newFolder'">
          نام
          <b>فولدر جدید</b>
          را وارد کنید
        </span>
      </li>

      <li *ngIf="!mode || mode == 'share'" (click)="setMode('share')">
        <img src="assets/icons/share.svg" title="اشتراک گذاری" />
        <span *ngIf="mode == 'share'">
          فایل و یا پوشه های مورد نظر برای
          <b>اشتراک گذاری</b>
          را انتخاب کنید
        </span>
      </li>

      <li class="refresh" (click)="refreshFolder()">
        <img src="assets/icons/refresh.svg" title="به‌روز رسانی" />
      </li>

      <li *ngIf="!mode || mode == 'delete'" [class.trash]="!mode" (click)="setMode('delete')">
        <img src="assets/icons/recycle-bin-trash-full.svg" title="حدف" />
        <span *ngIf="mode == 'delete'">
          فایل و یا پوشه های مورد نظر برای
          <b>حذف</b>
          را انتخاب کنید
        </span>
      </li>
    </ul>


    <!-- 
    <div *ngIf="objectKeys(toDownload).length > 0" class="title">
      <img src="assets/icons/download.svg" /> فایل‌های در حال دانلود ({{
        objectKeys(toDownload).length || "0" | rpd
      }})
    </div>
    <ul *ngIf="objectKeys(toDownload).length > 0" class="files to-download">
      <li *ngFor="let path of objectKeys(toDownload)" [title]="path">
        <div
          class="progress"
          [style.width]="toDownload[path].percent + '%'"
        ></div>
        <img src="assets/icons/export-3.svg" alt="" />

        <input type="text" readonly [value]="toDownload[path].name" />
        <div class="size">
          {{ readableSize(toDownload[path].size / 1024 / 1024) | rpd }}
          <div class="en">MB</div>
        </div>
      </li>
    </ul> -->
    <!-- 
    <div
      style="font-family: Arial, Helvetica, sans-serif;direction: ltr;text-align: left"
    >
      {{ folderPath }}
    </div> -->

    <div class="title" *ngIf="!folderPath">
      <img src="assets/icons/folder-archive-open.svg" /> مدیریت فایل
    </div>
    <div class="title" *ngIf="folderPath && folderPath != '/' && folders[folderPath]">
      <img src="assets/icons/folder-archive-open.svg" />
      <ul class="crumbs">
        <li *ngFor="let c of getCrumbs()" [class]="  sUtils.text.persianKeyChar.indexOf(c.label[0]) != -1
        ? 'fa'
        : 'en'">{{ c.label }}</li>
      </ul>
      ({{ folders[folderPath].length || "0" | rpd }})
    </div>

    <ul *ngIf="!mode || (mode && mode != 'newFolder' && !modePathsSelected)" class="files to-download">

      <li *ngFor="let path of objectKeys(toUpload)">

        <div class="img">
          <img src="assets/icons/upload.svg" class="icon" alt="" />

        </div>

        <div class="progress" [style.width]="toUpload[path].percent + '%'"></div>


        <div class="size">
          {{ readableSize(toUpload[path].size / 1024 / 1024) | rpd }}

          <div class="en">MB</div>
        </div>

        <input type="text" readonly [class]="
          sUtils.text.persianKeyChar.indexOf(toUpload[path].name[0]) != -1
            ? 'fa'
            : 'en'
        " [value]="toUpload[path].name" />

      </li>

      <li *ngIf="folderPath != '/'" (click)="folderPath = cdBack(folderPath); refreshFolder()">

        <div class="select"></div>

        <input type="text" name="" style="text-align: left" readonly disabled value="بازگشت به فولدر بالایی" id="" />
        <div class="size">&nbsp;</div>

        <div class="img  no-hover">
          <img class="icon" src="assets/icons/arrow-left-back-10.svg" />
        </div>

      </li>
      <li *ngFor="let item of folders[folderPath || '/']" [title]="item.basename">
        <div *ngIf="item.uploadPercent && item.uploadPercent != 100" class="progress"
          [style.width]="item.uploadPercent + '%'"></div>

        <div class="select" (click)="item.isFile ? clickOnSelect(item) : null">

          <img src="assets/icons/tab-1.svg" *ngIf="item.isFile && mode && modeSelectedPaths.indexOf(item.path) == -1"
            class=" " />
          <img src="assets/icons/check-9.svg" *ngIf="item.isFile && mode && modeSelectedPaths.indexOf(item.path) != -1"
            class=" selected" />
        </div>

        <input type="text" (click)="clickOnItem(item)" readonly [class]="
            sUtils.text.persianKeyChar.indexOf(item.basename[0]) != -1
              ? 'fa'
              : 'en'
          " [value]="item.basename" />




        <div class="size" (click)="clickOnItem(item)" *ngIf="item.isFile">
          <span *ngIf="item.sizeInMB">
            <div class="en">{{ item.ext | uppercase }}</div>
            {{ readableSize(item.sizeInMB) | rpd }}
            <div class="en">MB</div>
          </span>

          <span *ngIf="!item.sizeInMB">
            <div class="en">{{ item.ext | uppercase }}</div>
            {{ readableSize(item.size / 1024) | rpd }}
            <div class="en">KB</div>
          </span>
        </div>

        <div class="size" *ngIf="item.isDirectory">
          <span class=en>
            DIR
          </span>
        </div>

        <div class="img">
          <img *ngIf="item.isFile " [class.icon]="mode"
            [src]="'assets/mimetypes/' + item.mime?.replace('/','-') + '.svg'" />

          <img *ngIf="
                item.isDirectory 
              " [class.icon]="mode" src="assets/icons/folder-archive.svg" />

        </div>

      </li>





    </ul>

    <div class="folder-empty" *ngIf="
        folders[folderPath || '/'] && folders[folderPath || '/'].length == 0
      ">
      <span>
        فایلی در این فولدر یافت نشد
      </span>
    </div>

    <div class="form-wrapper" *ngIf="mode == 'newFolder'">
      <app-form-text-input [model]="newFolderName" (modelChange)="newFolderName = $event" [dir]="
            sUtils.text.persianKeyChar.indexOf(newFolderName[0]) != -1
              ? 'rtl'
              : 'ltr'
          " label="نام فولدر جدید"></app-form-text-input>
    </div>

  </section>

  <!-- <section class="preview" *ngIf="previewPath">
  

  </section> -->

  <section class="preview">

    <ul class="nav en">
      <li (click)="codeEditorActive = false;iframeActive = true">
        iFrame
      </li>
      <li *ngIf="codeEditorVisible" (click)="iframeActive = false; codeEditorActive = true">
        Code Editor
      </li>
    </ul>

    <app-iframe *ngIf="iframeActive" [url]="previewPath"></app-iframe>

    <app-form-code-input [layout]="'full'" *ngIf="codeEditorVisible && codeEditorActive"
      (modelChange)="codeEditorChange($event)" [model]="codeEditorModel" [language]="codeEditorLanguage">
    </app-form-code-input>

  </section>


  <div class="clearfix"></div>
</div>