.iframe-container {
  iframe {
    width: 100%;
    min-height: 400px;
    box-sizing: border-box;
  border:1px solid #ccc;

  }
}

textarea.source {
  direction: ltr;
  font-family: monospace;
  width: 100%;
  font-size: 12px;
  box-sizing: border-box;
  border: none;
  min-height: 400px;

}


.menu {
  width: 680px;
  max-width: 100%;
  ul {
    margin: 0;
    padding: 0;
    background: #fff;

    li {
      display: inline-block;
      vertical-align: top;

      a {
        color: #333;
        padding: 10px;
        display: block;
        font-weight: bold;
        text-decoration: none;

        &.active {
          background: #cfcfcf;
        }
      }
    }
  }
}

.tabs {
  background: #fff;
  width: 680px;
  max-width: 100%;

}
 