<div id="auth" *ngIf="!authService.loggedIn">

  <div class="moon">
    <img class="logo" src='assets/graphics/brand/serendip-circle.svg' />

    <div class="activate" *ngIf="tab =='activate'">

      <form *ngIf="!loading" (ngSubmit)="activate(model)" #activateForm="ngForm">

        <div class="title">
          فعال سازی حساب کاربری
        </div>
        <mat-form-field>
          <input matInput type="text" dir="auto" required [(ngModel)]="model.mobile" dir=ltr name="mobile" #mobile="ngModel"
            placeholder="شماره موبایل" />
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" dir="auto" [(ngModel)]="model.code" dir=ltr name="code" #code="ngModel"
            placeholder="کد فعال سازی" />
        </mat-form-field>

        <div class="validation" *ngIf="activationMessage" [innerHtml]="replacePersianDigits(activationMessage)">
        </div>


        <div class="buttons">

          <button type="submit" mat-raised-button color="primary" [disabled]="!activateForm.form.valid">
            فعال سازی حساب
          </button>
          <button type="button" mat-raised-button color="secondary" (click)="sendVerify(model)" [disabled]="!activateForm.form.valid">
            ارسال مجدد کد
          </button>




        </div>

        <ul class="links">
          <li>
            <a [routerLink]="['/auth','login']">
              ورود به حساب کاربری
            </a>

          </li>

          <li>
            <a [routerLink]="['/auth','forgot']">
              فراموشی رمزعبور
            </a>
          </li>



          <li>
            <a [routerLink]="['/auth','activate']">
              فعال سازی حساب
            </a>
          </li>

        </ul>

      </form>


    </div>


    <div class="login" *ngIf="tab =='login'">

      <form *ngIf="!loading" (ngSubmit)="login(model)" #loginForm="ngForm">
        <div class="title">
          ورود به حساب کاربری
        </div>
        <mat-form-field>
          <input matInput type="text" dir="auto" required [(ngModel)]="model.username" dir=ltr name="username"
            #username="ngModel" placeholder="شماره موبایل" />
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" dir="auto" required [(ngModel)]="model.password" dir=ltr name="password"
            #username="ngModel" placeholder="رمز عبور" />
        </mat-form-field>

        <div class="submit">
          <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.form.valid">
            ورود
          </button>

        </div>



        <ul class="links">
          <li>
            حساب کاربری ندارید؟
            <a type="button" [routerLink]="['/auth','register']">
              ثبت‌نام
            </a>
            کنید.
          </li>

          <li>

            <a type="button" [routerLink]="['/auth','register']">
              فراموشی رمزعبور
            </a>
          </li>

          <li>
            <a [routerLink]="['/auth','activate']">
              فعال‌سازی حساب
            </a>
          </li>
        </ul>

        <!-- <button mat-button type="button" [routerLink]="['/auth','forgot']">
          فراموشی رمز
        </button>
        <button mat-button type="button" [routerLink]="['/auth','activate']">
          کد فعال‌سازی
        </button> -->

      </form>

      <div class="loading" *ngIf="loading">
        <mat-spinner></mat-spinner>
      </div>
    </div>


    <div class="register" *ngIf="tab =='register'">

     
      <form *ngIf="!loading" (ngSubmit)="register(model)" #registerForm="ngForm">
        <div class="title">
          ایجاد حساب کاربری
        </div>
        <mat-form-field>
          <input matInput type="text" dir="auto" required [(ngModel)]="model.username" dir=ltr name="username"
            #username="ngModel" placeholder="شماره موبایل" />

          <mat-hint>کد تایید به شماره موبایل شما ارسال خواهد شد.</mat-hint>
        </mat-form-field>


        <mat-form-field>
          <input matInput type="password" dir="auto" required [(ngModel)]="model.password" dir=ltr name="password"
            #username="ngModel" placeholder="رمز عبور" />
          <mat-hint>
            حداقل طول رمز عبور 6 کارکتر می باشد.
          </mat-hint>

        </mat-form-field>


        <mat-form-field>
          <input matInput type="password" dir="auto" required [(ngModel)]="model.passwordConfirm" dir=ltr name="passwordConfirm"
            #passwordConfirm="ngModel" placeholder="تکرار رمز عبور" />
        </mat-form-field>


        <div class="validation" *ngIf="validateRegister(model)" [innerHtml]="replacePersianDigits(validateRegister(model))">
        </div>


        <div class="submit">

          <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.form.valid">
            ثبت نام
          </button>
        </div>

        <ul class="links">
          <li>
            <a [routerLink]="['/auth','login']">
              ورود به حساب کاربری
            </a>

          </li>

          <li>
            <a [routerLink]="['/auth','forgot']">
              فراموشی رمزعبور
            </a>
          </li>



          <li>
            <a [routerLink]="['/auth','activate']">
              فعال سازی حساب
            </a>
          </li>

        </ul>

      </form>
      <div class="loading" *ngIf="loading">
        <mat-spinner></mat-spinner>
      </div>
    </div>


    <div class="forgot" *ngIf="tab =='forgot'">

      <form *ngIf="!loading" (ngSubmit)="sendResetPasswordToken(model)" #forgotForm="ngForm">

        <div class="title">
          فراموشی رمز عبور
        </div>

        <mat-form-field>
          <input matInput type="text" dir="auto" required [(ngModel)]="model.mobile" dir=ltr name="mobile" #mobile="ngModel"
            placeholder="شماره موبایل" />

          <mat-hint>
            کد تغییر رمز به شماره موبایل شما ارسال خواهد شد.
          </mat-hint>
        </mat-form-field>


        <div class="buttons">
          <button mat-raised-button color="primary" type="submit" [disabled]="!forgotForm.form.valid">
            ارسال کد
          </button>

          <button mat-raised-button color="secondary" type="button" [routerLink]="['/auth','reset']">
            کد دارم.
          </button>
        </div>

        <ul class="links">
          <li>
            <a [routerLink]="['/auth','login']">
              ورود به حساب کاربری
            </a>
          </li>
        </ul>

      </form>
      <div class="loading" *ngIf="loading">
        <mat-spinner></mat-spinner>
      </div>
    </div>

    <div class="reset" *ngIf="tab =='reset'">
      <form *ngIf="!loading" (ngSubmit)="resetPassword(model)" #resetForm="ngForm">
        <div class="title">
          تغییر رمز با کد
        </div>
        <mat-form-field>
          <input matInput type="text" dir="auto" required [(ngModel)]="model.mobile" dir=ltr name="mobile" #mobile="ngModel"
            placeholder="شماره موبایل" />
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" dir="auto" [(ngModel)]="model.code" dir=ltr name="code" #code="ngModel"
            placeholder="کد دریافت شده" />
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" dir="auto" required [(ngModel)]="model.password" dir=ltr name="password"
            #username="ngModel" placeholder="رمز عبور" />
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" dir="auto" required [(ngModel)]="model.passwordConfirm" dir=ltr name="passwordConfirm"
            #passwordConfirm="ngModel" placeholder="تکرار رمز عبور" />
        </mat-form-field>
        <div class="validation" *ngIf="activationMessage" [innerHtml]="replacePersianDigits(activationMessage)">
        </div>

        <div class="buttons">
          <button mat-raised-button color="primary" type="submit" [disabled]="!resetForm.form.valid">
            تغییر رمز
          </button>
          <button mat-raised-button color="secondary" type="button" [routerLink]="['/auth','reset']">
            کد تعییر رمز ندارم
          </button>
        </div>
        <ul class="links">
          <li>
            <a [routerLink]="['/auth','login']">
              ورود به حساب کاربری
            </a>
          </li>

        </ul>
      </form>
      <div class="loading" *ngIf="loading">
        <mat-spinner></mat-spinner>
      </div>
    </div>
  </div>
</div>
