<div id="auth" [class.day]="day" *ngIf="!authService.loggedIn">

  <div class="moon" (mouseover)="day = true" (mouseout)="day = false">
    <a href="https://serendip.agency" target="_blank"> <img *ngIf="!loading" class="logo" src='assets/graphics/brand/serendip-circle.svg' />
    </a>
    <div class="loading" *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>

    <div class="wizard">
      <form *ngIf="tab =='login'" class="form-mobile">
        <div class="title">
          شماره تماس خود را وارد کنید
        </div>

        <mat-form-field>
          <input type="text" matInput dir="ltr" prefix="+98 " [showMaskTyped]="true" mask="(000) 000 0000" required
            [(ngModel)]="model.mobile" dir=ltr autofocus name="mobile" #mobile="ngModel" />


        </mat-form-field>

        <!-- <mat-form-field>
          <input matInput type="password" dir="auto" required [(ngModel)]="model.password" dir=ltr name="password"
            #username="ngModel" placeholder="رمز عبور" />
        </mat-form-field> -->

        <div class="submit">
          <button (click)="sendOneTimePassword()" mat-raised-button color="secondary">
            ادامه
          </button>

        </div>
      </form>



      <form *ngIf="tab =='code'" class="form-code">
        <div class="title">
          کد دریافت شده از طریق پیامک را وارد کنید
        </div>

        <mat-form-field>
          <input type="text" matInput dir="ltr" [showMaskTyped]="true" mask="0 0 0 0 0 0" required [(ngModel)]="model.oneTimePassword"
            autofocus dir=ltr name="oneTimePassword" #oneTimePassword="ngModel" />
          <mat-hint>
            دریافت شده توسط {{model.mobile | rpd }}
          </mat-hint>
        </mat-form-field>

        <!-- <mat-form-field>
          <input matInput type="password" dir="auto" required [(ngModel)]="model.password" dir=ltr name="password"
            #username="ngModel" placeholder="رمز عبور" />
        </mat-form-field> -->

        <div class="submit">
          <button (click)="login()" mat-raised-button color="secondary">
            ادامه
          </button>
        </div>
      </form>

      <form *ngIf="tab =='password'" class="form-password">
        <div class="title">
          رمز عبور حساب خود را وارد کنید
        </div>

        <mat-form-field>
          <input type="text" matInput dir="ltr" [showMaskTyped]="true" mask="0 0 0 0 0 0" required [(ngModel)]="model.oneTimePassword"
            autofocus dir=ltr name="password" #oneTimePassword="ngModel" />
          <mat-hint>
            در حال ورود با {{model.mobile | rpd }}
          </mat-hint>
        </mat-form-field>
        <!-- <mat-form-field>
          <input matInput type="password" dir="auto" required [(ngModel)]="model.password" dir=ltr name="password"
            #username="ngModel" placeholder="رمز عبور" />
        </mat-form-field> -->

        <div class="submit">
          <button (click)="login()" mat-raised-button color="secondary">
            ادامه
          </button>

        </div>
      </form>

      <ul class="links">
        <li>
          <a target="_blank" href="https://serendip.agency">
            وبسایت سرندیپ </a>
        </li>
      </ul>

      <!-- <button mat-button type="button" [routerLink]="['/auth','forgot']">
          فراموشی رمز
        </button>
        <button mat-button type="button" [routerLink]="['/auth','activate']">
          کد فعال‌سازی
        </button> -->


    </div>


  </div>
</div>
