 <app-form-select-input [labelField]="'name'" [valueField]="'name'" [model]="model?.entity" [dataEntity]="'_entity'"
   (modelChange)="log($event); model.entity = $event;modelChange.emit(model)" [placeholder]="'Entity'"
   [selectType]="'single'">
 </app-form-select-input>

 <app-form-select-input [labelField]="'label'" [valueField]="'value'" [model]="model?.type" [data]="types"
   (modelChange)="log($event); model.type = $event;modelChange.emit(model)" [placeholder]="'Trigger type'"
   [selectType]="'single'">

 </app-form-select-input>
