<form class="form-wrapper">
  <div class="file-upload">
    <input type="file" accept="image/*" (change)="fileChanged($event, 'profilePicture')" />
    <img [src]="profile.profilePicture" *ngIf="profile.profilePicture" alt="" />
    <img src="assets/icons/account-profile-user-4.svg" class="default" *ngIf="!profile.profilePicture" alt="" />
  </div>

  <mat-form-field>
    <input matInput placeholder="First name" name="firstName" [(ngModel)]="profile.firstName" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Last name" [(ngModel)]="profile.lastName" name="lastName" />
  </mat-form-field>

  <div class="form-group">

    <app-form-radio-input [label]="'Gender'" [model]="profile.gender" (modelChange)="profile.gender = $event" [data]="[{label : 'Male',
    value : 'male'},{label : 'Female',
    value : 'female'}]"></app-form-radio-input>


  </div>
  <button style="margin-top:15px;" (click)="save()" color="primary" mat-raised-button>
    Save
  </button>
</form>
