.view {
    .cell {
        font-size: 13px;
        border: 1px solid #ddd;
        line-height: 26px;
        height: 24px;
        border-radius: 10px;
       box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        width: 140px;
        vertical-align: middle;
        padding:0 5px;
        color:#333;
        height:48px;
    }
    height:60px;
    line-height:60px;
   
    overflow: hidden;
}