<mat-card  class="chart">

  <mat-card-content>


    <ngx-charts-polar-chart [id]="chartId" [xAxis]="true" [yAxis]="true" [animations]="animations" [legendTitle]="'کاربران'" [legend]="false"
      [view]="view" class="chart-container" [results]="data">
    </ngx-charts-polar-chart>

    <!-- <ngx-charts-line-chart   [id]="chartId+'2'" [xAxis]="true" [yAxis]="true" [legendTitle]="'کاربران'" [legend]="true"
    [view]="[480,240]" class="chart-container" [results]="data">
  </ngx-charts-line-chart> -->

  </mat-card-content>

</mat-card>