.view {
    .cell {
        font-family: 'Roboto' !important;
        font-size: 10px;
        border: 1px solid #ddd;
        line-height: 26px;
        height: 26px;
        border-radius: 10px;
        direction: ltr;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        width: 100px;
        vertical-align: middle;
        padding:0 5px;
        color:#777;
    }
    height:60px;
    line-height: 60px;
    overflow: hidden;
}