.view {
  .cell {
    font-family: "Roboto" !important;
    font-size: 10px;
    line-height: 20px;
    height: 20px;
    direction: ltr;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    text-transform: uppercase;
    color: #777;
    box-sizing: border-box;
    user-select: text;
    letter-spacing: 1px;
  }
  height: 40px;
  width: 160px;
  line-height: 40px;
  overflow: hidden;
}
