<div class="widget">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <img src="/assets/icons/complaints-customer-voice-2.svg" />
      </div>
      <mat-card-title>فرم شکایات</mat-card-title>
      <mat-card-subtitle>ثبت شکایت جدید</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <div class="logbox">
        {{ model | json }}
      </div>
      <form class="">

        <app-calendar-input [label]="'تاریخ دریافت شکایت'" [model]="model.receivedAt" [calendarType]="'persian'"
          (modelChange)="model.receivedAt = $event"></app-calendar-input>

        <app-people-select [model]="[model.person]" (modelChange)="model.person = $event" [selectType]="'single'"></app-people-select>

        <app-company-select [model]="[model.company]" (modelChange)="model.company = $event" [selectType]="'single'"></app-company-select>

        <div>
          <label for="">نوع شکایت: </label>
          <mat-radio-group>
            <mat-radio-button value="product">
              شکایت از محصول
            </mat-radio-button>
            <mat-radio-button value="service">
              شکایت از خدمت
            </mat-radio-button>
          </mat-radio-group>
        </div>

      </form>

    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="save()">ثبت</button>
      <button mat-button type="button" (click)="reset()">ریست</button>
    </mat-card-actions>

  </mat-card>


</div>