<!-- <ngx-charts-line-chart
  [id]="chartId + '2'"
  [xAxis]="true"
  [yAxis]="true"
  [legendTitle]="'کاربران'"
  
  [view]="[500, 400]"
  class="chart-container"
  [class.loading]="loading"
  [results]="data"
>
</ngx-charts-line-chart> -->
<div class="chart-wrapper">
  <ngx-charts-pie-chart
    *ngIf="chartType == 'pie'"
    [id]="chartId"
    [legendTitle]="'کاربران'"
    
    [view]="[400, 400]"
    [doughnut]="false"
    [labels]="true"
    class="chart-container"
    [class.loading]="loading"
    [results]="data"
    [scheme]="'flame'"
  >
  </ngx-charts-pie-chart>

  <ngx-charts-pie-chart
    *ngIf="chartType == 'doughnut'"
    [id]="chartId"
    [legendTitle]="'کاربران'"
    
    [view]="[400, 400]"
    [doughnut]="true"
    [labels]="true"
    class="chart-container"
    [class.loading]="loading"
    [results]="data"
    [scheme]="'flame'"
  >
  </ngx-charts-pie-chart>

  <ngx-charts-bar-horizontal
    *ngIf="chartType == 'horizontal-bar'"
    [id]="chartId"
    [legendTitle]="'کاربران'"
    [yAxis]="true"
    [xAxis]="true"
    
    [view]="[400, 400]"
    class="chart-container"
    [class.loading]="loading"
    [results]="data"
    [scheme]="'flame'"
  >
  </ngx-charts-bar-horizontal>

  <ngx-charts-bar-vertical
    *ngIf="chartType == 'vertical-bar'"
    [id]="chartId"
    [legendTitle]="'کاربران'"
    [yAxis]="true"
    [xAxis]="true"
    
    [view]="[400, 400]"
    class="chart-container"
    [class.loading]="loading"
    [results]="data"
    [scheme]="'flame'"
  ></ngx-charts-bar-vertical>

  <ngx-charts-number-card
    *ngIf="chartType == 'number-card'"
    [id]="chartId"
    [view]="[400, 400]"
    class="chart-container"
    [class.loading]="loading"
    [results]="data"
  >
  </ngx-charts-number-card>
  <ngx-charts-advanced-pie-chart
    *ngIf="chartType == 'pie-advanced'"
    [id]="chartId"
    [view]="[400, 400]"
    class="chart-container"
    [class.loading]="loading"
    [results]="data"
    [scheme]="'flame'"
  ></ngx-charts-advanced-pie-chart>

  <ngx-charts-tree-map
    *ngIf="chartType == 'tree-map'"
    [id]="chartId"
    [view]="[400, 400]"
    class="chart-container"
    [class.loading]="loading"
    [results]="data"
    [scheme]="'flame'"
  >
  </ngx-charts-tree-map>

  <ngx-charts-gauge
    *ngIf="chartType == 'gauge'"
    
    [id]="chartId"
    [view]="[400, 400]"
    class="chart-container"
    [class.loading]="loading"
    [scheme]="'flame'"
    [results]="data"
  >
  </ngx-charts-gauge>

  <ngx-charts-pie-grid
    *ngIf="chartType == 'pie-grid'"
    [id]="chartId"
    [view]="[400, 400]"
    class="chart-container"
    [class.loading]="loading"
    [results]="data"
    [scheme]="'flame'"
  ></ngx-charts-pie-grid>
</div>
