<div class="chart-wrapper">
  <ngx-charts-line-chart
    *ngIf="chartType == 'line'"
    [id]="chartId"
    [xAxis]="true"
    [autoScale]="true"
    [view]="[380, 260]"
    [yAxis]="true"
    class="chart-container"
    [class.loading]="loading"
    [timeline]="true"
    [results]="data"
    [legendTitle]="''"
    [legend]="true"
  >
  </ngx-charts-line-chart>

  <ngx-charts-polar-chart
    *ngIf="chartType == 'polar'"
    [id]="chartId"
    [xAxis]="true"
    [view]="[380, 260]"
    [autoScale]="true"
    [yAxis]="true"
    class="chart-container"
    [class.loading]="loading"
    [results]="data"
  >
  </ngx-charts-polar-chart>

  <ngx-charts-bar-vertical-stacked
    *ngIf="chartType == 'vertical-stacked-bar'"
    [view]="[380, 260]"
    [id]="chartId"
    [xAxis]="true"
    [yAxis]="true"
    class="chart-container"
    [class.loading]="loading"
    [results]="data"
  >
  </ngx-charts-bar-vertical-stacked>

  <ngx-charts-bar-vertical-2d
    *ngIf="chartType == 'vertical-grouped-bar'"
    [id]="chartId"
    [view]="[380, 260]"
    [xAxis]="true"
    [yAxis]="true"
    class="chart-container"
    [class.loading]="loading"
    [results]="data"
  >
  </ngx-charts-bar-vertical-2d>

  <ngx-charts-bar-horizontal-2d
  *ngIf="chartType == 'horizontal-grouped-bar'"
  [id]="chartId"
  [view]="[380, 260]"
  [xAxis]="true"
  [yAxis]="true"
  class="chart-container"
  [class.loading]="loading"
  [results]="data"
>
</ngx-charts-bar-horizontal-2d>

  <ngx-charts-pie-chart
    *ngIf="chartType == 'pie'"
    [id]="chartId"
    [view]="[380, 260]"
    [doughnut]="false"
    [labels]="true"
    class="chart-container"
    [class.loading]="loading"
    [results]="data"
    [scheme]="'flame'"
  >
  </ngx-charts-pie-chart>

  <ngx-charts-pie-chart
    *ngIf="chartType == 'doughnut'"
    [id]="chartId"
    [view]="[380, 260]"
    [doughnut]="true"
    [labels]="true"
    class="chart-container"
    [class.loading]="loading"
    [results]="data"
    [scheme]="'flame'"
  >
  </ngx-charts-pie-chart>

  <ngx-charts-bar-horizontal
    *ngIf="chartType == 'horizontal-bar'"
    [id]="chartId"
    [yAxis]="true"
    [xAxis]="true"
    [view]="[380, 260]"
    class="chart-container"
    [class.loading]="loading"
    [results]="data"
    [scheme]="'flame'"
  >
  </ngx-charts-bar-horizontal>

  <ngx-charts-bar-vertical
    *ngIf="chartType == 'vertical-bar'"
    [id]="chartId"
    [yAxis]="true"
    [xAxis]="true"
    [view]="[380, 260]"
    class="chart-container"
    [class.loading]="loading"
    [results]="data"
    [scheme]="'flame'"
  ></ngx-charts-bar-vertical>

  <ngx-charts-number-card
    *ngIf="chartType == 'number-card'"
    [id]="chartId"
    [view]="[380, 260]"
    class="chart-container"
    [class.loading]="loading"
    [results]="data"
  >
  </ngx-charts-number-card>
  <ngx-charts-advanced-pie-chart
    *ngIf="chartType == 'pie-advanced'"
    [id]="chartId"
    [view]="[380, 260]"
    class="chart-container"
    [class.loading]="loading"
    [results]="data"
    [scheme]="'flame'"
  ></ngx-charts-advanced-pie-chart>

  <ngx-charts-tree-map
    *ngIf="chartType == 'tree-map'"
    [id]="chartId"
    [view]="[380, 260]"
    class="chart-container"
    [class.loading]="loading"
    [results]="data"
    [scheme]="'flame'"
  >
  </ngx-charts-tree-map>

  <ngx-charts-gauge
    *ngIf="chartType == 'gauge'"
    [id]="chartId"
    [view]="[380, 260]"
    class="chart-container"
    [class.loading]="loading"
    [scheme]="'flame'"
    [results]="data"
  >
  </ngx-charts-gauge>

  <ngx-charts-pie-grid
    *ngIf="chartType == 'pie-grid'"
    [id]="chartId"
    [view]="[380, 260]"
    class="chart-container"
    [class.loading]="loading"
    [results]="data"
    [scheme]="'flame'"
  ></ngx-charts-pie-grid>
</div>
