section.year-view {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 15px;
    .month-block {
        box-sizing: border-box;
        overflow: hidden;
    }
    .month-block-title {
        line-height: 40px;
        color: #999;
        font-size: 17px;
        font-weight: 100;
    }
}