<section class="year-view {{size}}">

  <div class="month-block">
    <app-calendar-month [month]="1" [year]="year" [size]="'year-month'" [calendarType]="calendarType">
    </app-calendar-month>
  </div>
  <div class="month-block">
    <app-calendar-month [month]="2" [year]="year" [size]="'year-month'" [calendarType]="calendarType">
    </app-calendar-month>
  </div>
  <div class="month-block">
    <app-calendar-month [month]="3" [year]="year" [size]="'year-month'" [calendarType]="calendarType">
    </app-calendar-month>
  </div>
  <div class="month-block">
    <app-calendar-month [month]="4" [year]="year" [size]="'year-month'" [calendarType]="calendarType">
    </app-calendar-month>
  </div>
  <div class="month-block">
    <app-calendar-month [month]="5" [year]="year" [size]="'year-month'" [calendarType]="calendarType">
    </app-calendar-month>
  </div>
  <div class="month-block">
    <app-calendar-month [month]="6" [year]="year" [size]="'year-month'" [calendarType]="calendarType">
    </app-calendar-month>
  </div>
  <div class="month-block">
    <app-calendar-month [month]="7" [year]="year" [size]="'year-month'" [calendarType]="calendarType">
    </app-calendar-month>
  </div>
  <div class="month-block">
    <app-calendar-month [month]="8" [year]="year" [size]="'year-month'" [calendarType]="calendarType">
    </app-calendar-month>
  </div>
  <div class="month-block">
    <app-calendar-month [month]="9" [year]="year" [size]="'year-month'" [calendarType]="calendarType">
    </app-calendar-month>
  </div>
  <div class="month-block">
    <app-calendar-month [month]="10" [year]="year" [size]="'year-month'" [calendarType]="calendarType">
    </app-calendar-month>
  </div>
  <div class="month-block">
    <app-calendar-month [month]="11" [year]="year" [size]="'year-month'" [calendarType]="calendarType">
    </app-calendar-month>
  </div>
  <div class="month-block">
    <app-calendar-month [month]="12" [year]="year" [size]="'year-month'" [calendarType]="calendarType">
    </app-calendar-month>
  </div>

</section>
