<div class="widget">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <img src="/assets/icons/employee-2.svg" />
      </div>
      <mat-card-title>فرم تعامل </mat-card-title>
      <mat-card-subtitle>ثبت تعامل جدید</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="logbox">
        {{ interactionForm.value | json }}
      </div>
      <form [formGroup]="interactionForm" class="">

      </form>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="save()">ثبت</button>
      <button mat-button type="reset" (click)="reset()">ریست</button>
    </mat-card-actions>
  </mat-card>
</div>