<div class="widget">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <img src="/assets/icons/building-company-1.svg" />
      </div>
      <mat-card-title>فرم اطلاعات شرکت</mat-card-title>
      <mat-card-subtitle>ثبت شرکت جدید</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <div class="logbox">
        {{model | json}}
      </div>
      <form class="">

        <mat-form-field>
          <input matInput placeholder="نام شرکت" [(ngModel)]="model.name" [name]="'name'" />
        </mat-form-field>

        <app-company-type-select [model]="model.type" (modelChange)="model.type = $event;"></app-company-type-select>

        <app-contact [model]="model.contacts" (modelChange)="model.contacts = $event;"></app-contact>

      </form>

    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="save()">ثبت</button>
      <button mat-button type="reset" (click)="reset()">ریست</button>
    </mat-card-actions>


  </mat-card>
</div>