<div class="widget">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <img src="/assets/icons/building-company-1.svg" />
      </div>
      <mat-card-title>فرم اطلاعات شرکت</mat-card-title>
      <mat-card-subtitle>ثبت شرکت جدید</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <app-map [mapId]="mapId"></app-map>
      <div class="logbox">
        {{companyForm.value | json}}
      </div>
      <form [formGroup]="companyForm" class="">

        <mat-form-field>
          <input matInput placeholder="نام شرکت" formControlName="name" />
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="نوع شرکت" multiple formControlName="type">
            <mat-option *ngFor="let type of ['شریک تجاری','شرکت پخش','تامین کننده']" [value]="type">
              {{type}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div formArrayName="contacts">

          <div class="contact" *ngFor="let contact of  getFormArray(companyForm,'contacts'); let i=index"
            [formGroupName]="i">

            <mat-form-field>
              <input matInput placeholder="اطلاعات تماس" formControlName="name" />
            </mat-form-field>

            <div formArrayName="telephones">
              <mat-form-field *ngFor="let telphone of  getFormArray(contact,'telephones'); let b=index">
                <input matInput placeholder="تلفن {{b == 0 ? '' : b + 1}}" [formControlName]="b" dir="ltr" />

                <div class="plus" *ngIf="b == 0" matSuffix (click)="contact.get('telephones').push(fb.control(''));">
                  <img src="/assets/icons/plus-add-2.svg" />
                </div>
                <div class="minus" *ngIf="b != 0" matSuffix (click)="contact.get('telephones').removeAt(b);">
                  <img src="/assets/icons/recycle-bin-trash.svg" />
                </div>
              </mat-form-field>
            </div>

            <div formArrayName="faxes">
              <mat-form-field *ngFor="let telphone of  getFormArray(contact,'faxes'); let b=index">
                <input matInput placeholder="فکس {{b == 0 ? '' : b + 1}}" [formControlName]="b" dir="ltr" />

                <div class="plus" *ngIf="b == 0" matSuffix (click)="contact.get('faxes').push(fb.control(''));">
                  <img src="/assets/icons/plus-add-2.svg" />
                </div>
                <div class="minus" *ngIf="b != 0" matSuffix (click)="contact.get('faxes').removeAt(b);">
                  <img src="/assets/icons/recycle-bin-trash.svg" />
                </div>
              </mat-form-field>
            </div>

            <mat-form-field>
              <mat-chip-list #chipList>
                <mat-chip *ngFor="let item of  contact.get('peoples').value" (click)="goEmployee(item)" (removed)="removeEmployee(contact,item)">
                  {{ getEmployee(item)?.firstName }}
                  {{ getEmployee(item)?.lastName }}
                  <mat-icon matChipRemove>
                    <img src="assets/icons/recycle-bin-trash.svg" alt="" />
                  </mat-icon>
                </mat-chip>
                <input placeholder="افراد مرتبط" #peopleAutoInput (input)="filterPeople(peopleAutoInput.value,contact.get('peoples').value)"
                  [matChipInputFor]="chipList" [matAutocomplete]="peopleAuto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="false" (matChipInputTokenEnd)="peopleAutoInput.value= ''">
              </mat-chip-list>

              <mat-autocomplete #peopleAuto="matAutocomplete" (optionSelected)="selectEmployee(contact,$event);peopleAutoInput.value= ''">
                <mat-option *ngFor="let item of filteredPeople" [value]="item._id">
                  {{item.firstName}}
                  {{item.lastName}}
                  {{ rpd( item.mobiles[0]?.value) }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <div formGroupName="address">
              <mat-form-field>
                <input type="text" placeholder="استان" (change)="filterStates(contact.get('address').value.state).length == 0 ? contact.get('address').patchValue({state : ''}) : ''"
                  matInput formControlName="state" [matAutocomplete]="stateAuto">
                <mat-autocomplete #stateAuto="matAutocomplete">
                  <mat-option *ngFor="let option of filterStates(contact.get('address').value.state)" [value]="option.name">
                    {{option.name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <mat-form-field>
                <input type="text" placeholder="شهر" (change)="filterCities(contact.get('address').value.state,contact.get('address').value.city).length == 0 ? contact.get('address').patchValue({city : ''}) : ''"
                  matInput formControlName="city" [matAutocomplete]="cityAuto">
                <mat-autocomplete #cityAuto="matAutocomplete">
                  <mat-option *ngFor="let option of filterCities(contact.get('address').value.state,contact.get('address').value.city)"
                    [value]="option.name">
                    {{option.name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <mat-form-field>
                <input type="text" matInput placeholder="موقعیت مکانی" dir="ltr" formControlName="geo" />
                <div class="location" (click)="setGeo(contact)" matSuffix>
                  <img src="/assets/icons/location-address-1.svg" />
                </div>
                <div class="location" *ngIf="contact.get('address').get('geo').value" (click)="goGeo(contact.get('address').get('geo').value)"
                  matSuffix>
                  <img src="/assets/icons/location-address-2.svg" />
                </div>
              </mat-form-field>

              <mat-form-field>
                <textarea matInput placeholder="آدرس پستی" formControlName="text"></textarea>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="کد پستی" formControlName="postalCode" />
              </mat-form-field>

            </div>
          </div>
        </div>
      </form>

    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="save()">ثبت</button>
      <button mat-button type="reset" (click)="reset()">ریست</button>
    </mat-card-actions>


  </mat-card>
</div>