<div id="router" [class.startActive]="startActive">
    <router-outlet></router-outlet>
</div>
<div *ngIf='loggedIn && crmService.getActiveCrmId()' id="start-button" (click)="startActive = !startActive">
    <img src="assets/graphics/brand/serendip-circle.svg" alt="" />
</div>

<div id="start" (click)="clickOnStartWrapper($event)" [class.fadeIn]="startActive">

    <div class="inner">
        <div class="search">
            <div class="search-inner">
                <input type="text" dir="auto" [(ngModel)]="search.text" placeholder="جست‌و‌جو ..." />
                <img src='assets/icons/search.svg' />
            </div>
        </div>
        <nav>
            <ul>
                <li>
                    <a [routerLink]="['/dashboard']">
                        <img src='assets/icons/dashboard-1.svg' />
                        <span>
                            داشبورد
                        </span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/dashboard','people']">
                        <img src='assets/icons/people-users-1.svg' />

                        <span>
                            اشخاص
                        </span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/dashboard','company']">
                        <img src='assets/icons/building-corp.svg' />
                        <span>

                            شرکت ها
                        </span>

                    </a>
                </li>
                <li>
                    <a [routerLink]="['/dashboard','interaction']">
                        <img src='assets/icons/integration-5.svg' />
                        <span>

                            تعاملات
                        </span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/dashboard','service']">
                        <img src='assets/icons/service.svg' />
                        <span>

                            خدمات
                        </span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/dashboard','complaint']">

                        <img src='assets/icons/complaints-customer-voice-2.svg' />

                        <span>
                            شکایات
                        </span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/dashboard','sale']">

                        <img src='assets/icons/sell-money-expense-1.svg' />
                        <span>

                            فروش
                        </span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/dashboard','campaign']">

                        <img src='assets/icons/campaign-3.svg' />
                        <span>

                            کمپین
                        </span>

                    </a>
                </li>

                <li>
                    <a [routerLink]="['/dashboard','campaign']">

                        <img src='assets/icons/target-goal.svg' />
                        <span>
                            باشگاه
                        </span>
                    </a>
                </li>





                <li>
                    <a [routerLink]="['/dashboard','event']">
                        <img src='assets/icons/calendar-event-1.svg' />
                        <span>
                            رویدادها
                        </span>
                    </a>
                </li>

                <li>
                    <a [routerLink]="['/dashboard','settings']">
                        <img src='assets/icons/settings-1.svg' />
                        <span>
                            تنظیمات
                        </span>
                    </a>
                </li>

                <li>
                    <a [routerLink]="['/dashboard','support']">
                        <img src='assets/icons/service-customer-support-online-chat.svg' />
                        <span>
                            پشتیبانی
                        </span>
                    </a>
                </li>


            </ul>
        </nav>

        <div class="tabs">

            <div class="tabs-inner">

                <mat-tab-group [color]="'ascent'" dynamicHeight="true">
                    <mat-tab label="پیام‌ها">
                        <div class="tab-content">
                            لیست پیام ها
                        </div>
                    </mat-tab>
                    <mat-tab label="اعلان‌ها">
                        <div class="tab-content">
                            لیست اعلان ها
                        </div>
                    </mat-tab>
                    <mat-tab label="وظایف">
                        <div class="tab-content">
                            لیست وظایف
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>

        </div>
    </div>
</div>