<div *ngFor="let fax of model; let b = index; trackBy: trackByFn" class="row">
  <div class="item">
    <mat-form-field>
      <input
        *ngIf="type == 'single-line'"
        matInput
        [placeholder]="label + ' ' + rpd(b == 0 ? '' : b + 1)"
        [(ngModel)]="model[b]"
        (change)="modelChange.emit(model)"
        [name]="SelectId + '_' + b"
        dir="ltr"
      />

      <textarea
        *ngIf="type == 'multi-line'"
        matInput
        [placeholder]="label + ' ' + rpd(b == 0 ? '' : b + 1)"
        [name]="SelectId + '_' + b"
        [(ngModel)]="model"
        (change)="modelChange.emit(model)"
      ></textarea>
    </mat-form-field>
    
  </div>

  <div class="action">
    <div
      class="plus"
      *ngIf="b == 0"
      (click)="model.push(''); modelChange.emit(model)"
    >
      <img src="assets/icons/plus-add-2.svg" />
    </div>
    <div
      class="minus"
      *ngIf="b != 0"
      (click)="model.splice(b, 1); modelChange.emit(model)"
    >
      <img src="assets/icons/recycle-bin-trash.svg" />
    </div>
  </div>
</div>
