.row{

    &:after{
        clear: both;
        display: block;
        content: ' ';

    }

    .action{

        width:30px;

    
    }
    .item{
        width:calc(~"100% - 30px");
        
    }
}