<mat-form-field>
  <mat-label *ngIf="label">
    {{ label }}
  </mat-label>
  <mat-select [compareWith]="compareObjects" [placeholder]="placeholder || label" [multiple]="selectType == 'multiple'"
    [(ngModel)]="valueField ?  model[valueField] || model  : model"
    (selectionChange)="modelChange.emit( _.get($event.value,valueField,$event.value))" name="type">
    <mat-option *ngFor="let type of data" [value]="_.get(type,valueField,type)">
      {{_.get(type,labelField || 'label',type) }}
    </mat-option>
  </mat-select>
</mat-form-field>
