<div class="widget widget-5">


  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <img src="/assets/icons/service.svg" />
      </div>
      <mat-card-title> تنظیمات انواع خدمات </mat-card-title>
      <mat-card-subtitle *ngIf="mode == 'list'"> لیست دسته بندی خدمات </mat-card-subtitle>
      <mat-card-subtitle *ngIf="mode == 'form'"> ثبت دسته بندی خدمات </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <section *ngIf="mode == 'list'" class="list">
        <div class="inner">

          <div *ngFor="let item of list" class="list-item">

            <div class="head">
              <div class="title">
                {{item.name}}
              </div>

              <div class="actions">
                <img src="/assets/icons/recycle-bin-trash.svg" alt="">
                <img src="/assets/icons/office-paper-work-pen.svg" alt="">
              </div>

            </div>

            <div class="info">

              <div class="date">
                آخرین تغییر {{ rpd( moment( item._vdate ).fromNow()) }}
              </div>

              <div class="desc">
                <span class="chip">
                  هزینه: {{rpd(120000)}} تومان
                </span>
              </div>
            </div>

            <div class="priority">
              <label for="">اولویت</label>
              <mat-slider [max]="100" [min]="0" [step]="1" [thumbLabel]="true" [tickInterval]="5">
              </mat-slider>
            </div>

          </div>

        </div>
      </section>


      <form *ngIf="mode == 'form'" [formGroup]="mainForm" class="">

        <mat-form-field>
          <input matInput placeholder="نام نوع خدمت" formControlName="name" />
        </mat-form-field>

        <div class="double-field">
          <mat-form-field class="w-70">
            <input matInput type="number" placeholder="هزینه سرویس" formControlName="price" />
          </mat-form-field>

          <mat-form-field class="w-30">
            <mat-select placeholder="واحد پولی" formControlName="priceCurrency">
              <mat-option *ngFor="let type of ['ریال','تومان','دلار','یورو','یوآن']" [value]="type">
                {{type}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="toggle-field">
          <mat-slide-toggle formControlName="hasPeriod">
            خدمات دوره ای
          </mat-slide-toggle>
        </div>

        <div class="double-field" *ngIf="mainForm.value.hasPeriod">
          <mat-form-field class="w-50">
            <input matInput type="number" placeholder="بازه تکرار (عدد)" formControlName="period" />
          </mat-form-field>
          <mat-form-field class="w-50">

            <mat-select placeholder="واحد دوره" formControlName="periodUnit">

              <mat-option *ngFor="let item of periodUnits" [value]="item.value">
                {{item.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <label for="">اولویت</label>
          <mat-slider [max]="100" [min]="0" [step]="1" [thumbLabel]="true" [tickInterval]="5">
          </mat-slider>
        </div>

      </form>

    </mat-card-content>

    <mat-card-actions *ngIf="mode == 'form'">
      <button mat-raised-button color="primary" (click)="save()">‌ذخیره</button>
      <button mat-button type="reset" (click)="reset()">ریست</button>
      <button mat-button class="pull-left" (click)="mode = 'list'">لیست انوع خدمات </button>
      <div class="clearfix"></div>
    </mat-card-actions>


    <mat-card-actions *ngIf="mode == 'list'">
      <button mat-button class="pull-left" (click)="mode = 'form'">نوع خدمات جدید </button>
      <div class="clearfix"></div>
    </mat-card-actions>

  </mat-card>
</div>