.mat-card-header .search {
  &.spanned {
    width: auto;
    border-radius: 5px;
  }

  span {
    display: inline-block;
    vertical-align: top;
    line-height: 50px;
    padding-left: 10px;
    font-weight: 100;
    font-size: 17px;
  }

  img {
    display: inline-block;
    width: 50px;
  }
}

.report {
  min-width: 600px;
  max-width: 100%;
}
.report-model {
  border-top: 4px solid rgb(240, 240, 240);
  border-right: 4px solid rgb(240, 240, 240);
  border-radius: 0 15px 0 0;
  padding: 10px 30px;
  margin-bottom: 30px;
  margin-top: 15px;

  .reset-query {
    img {
      width: auto;
      height: 30px;
      display: block;
      margin-top: 5px;

      box-sizing: border-box;
    }
  }
  .template-inputs,
  .property-query {
    border-top: 2px solid rgb(240, 240, 240);
    border-right: 2px solid rgb(240, 240, 240);
    border-radius: 0;
    padding: 4px;
    margin: 0;
    max-width: 240px;
    display: inline-block;
    vertical-align: top;
    font-size: 11px;
    label {
      font-size: 12px;
      vertical-align: top;
      font-weight: 100;
    }
  }
  .field-name {
    display: inline-block;
    width: 140px;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 2px solid rgb(240, 240, 240);
    line-height: 36px;
    padding: 0 0 0 15px;
  }

  .fields {
    .field {
      margin: 15px 0;
      font-size: 12px;
      padding-left: 30px;

      position: relative;
    }
  }
  .drag-handle {
    vertical-align: top;
    display: inline-block;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    position: absolute;
    cursor: move;
    opacity: 0.7;
  }

  .mat-slide-toggle-content {
    font-size: 13px;
    font-weight: 500;
  }
}

.report-result {
  width: 100%;

  position: relative;
  padding: 60px 15px;
  overflow-x: scroll;
  box-sizing: border-box;

  .mat-checkbox-inner-container {
    margin: 0;
  }
  .empty {
    border-radius: 30px;
    text-align: center;
    font-style: italic;
    font-size: 11px;
    font-weight: 100;
    padding: 40px 0;
    background: #f2f2f2;
  }
  .record,
  .report-header {
    white-space: nowrap;
    box-sizing: border-box;

    &:after {
      clear: both;
      display: block;
      content: " ";
    }
    .field,
    .field-label,
    .select {
      display: inline-block;
      border-top: 1px solid #dee4f2;
      // border-bottom: 2px solid #eee;
      vertical-align: top;
      line-height: 30px;
      padding:  5px 0;
    }
    .select {
      line-height: 40px;
      height: 40px;
      width: 60px;

      [dir="rtl"] .mat-checkbox-inner-container {
        margin-left: 0 !important;
      }
    }
    .label {
      font-weight: bold;
    }
  }
  .report-header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;

    .inner {
      padding: 0 15px;
    }

    .field,
    .field-label,
    .select {
      border-top: none;
    }
  }
}

.paginator {
  direction: ltr;
  user-select: none;
  .next,
  .current,
  .prev {
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
    }
  }
  .next,
  .prev {
    cursor: pointer;
    transition: all ease 0.3s;
    border-radius: 100%;
    &:hover {
      background: #ddd;
    }
  }
  .current {
    font-size: 17px;
    font-weight: bold;
    width: auto;
  }
}
