<mat-form-field *ngIf="selectType == 'multiple'">
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let item of  model " (removed)="removeEntity(item)">
      <span (click)="goEntity(item)" *ngIf="getEntity(item)">
        <span *ngFor="let prop of propertiesToSearch"> {{ getEntity(item)[prop] | rpd }} </span>
      </span>
      <span (click)="goEntity(item)" *ngIf="!getEntity(item)">
        {{ item | json}}
      </span>

      <mat-icon matChipRemove>
        <img src="assets/icons/recycle-bin-trash.svg" alt="" />
      </mat-icon>
    </mat-chip>
    <input [placeholder]="label" #entityAutoInput (input)="filterEntities(entityAutoInput.value,model)"
      [matChipInputFor]="chipList" [matAutocomplete]="entityAuto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="false" (matChipInputTokenEnd)="entityAutoInput.value= ''">
  </mat-chip-list>
</mat-form-field>

<div *ngIf="selectType == 'single'">

  <div class="single-chip" *ngIf="model">
    
    <div class="text">
      <span (click)="goEntity(model)" *ngIf="getEntity(model)">
        <span *ngFor="let prop of propertiesToSearch"> {{label}}: {{ cachedEntities[model][prop] | rpd }} </span>
      </span>
      <span (click)="goEntity(model)" *ngIf="!getEntity(model)">
          {{label}}: {{ model | json}}
      </span>
    </div>
    <div class="icon" (click)="model = null; modelChange.emit(null)">
      <img src="assets/icons/recycle-bin-trash.svg" alt="" />
    </div>
  </div>

  <div class="single-chip" *ngIf="creatingEntity">
    <div class="text">
     Waiting for you to create a record ...
    </div>
    <div class="icon" (click)="creatingEntity= false">
      <img src="assets/icons/close-5.svg" alt="" />
    </div>

  </div>

  <mat-form-field *ngIf="!model && !creatingEntity">
    <input matInput [placeholder]="label" #entitySingleAutoInput (input)="filterEntities(entitySingleAutoInput.value,[model])"
      [matAutocomplete]="entityAuto" (matChipInputTokenEnd)="entitySingleAutoInput.value= ''">
  </mat-form-field>

</div>

<mat-autocomplete #entityAuto="matAutocomplete" [autoActiveFirstOption]="true" (optionSelected)="selectEntity(  $event);">

  <mat-option *ngFor="let item of filteredEntities" [value]="item._id">

    <span *ngFor="let prop of propertiesToSearch"> {{ item[prop] | rpd }} </span>

  </mat-option>


  <mat-option value="new">
    <img src="assets/icons/plus-add-1.svg" alt="" />
   New {{label}}
  </mat-option>


  <mat-progress-bar *ngIf="loading" [color]="'primary'" mode="indeterminate">
  </mat-progress-bar>

</mat-autocomplete>
