<div class="single-chip" *ngIf="model && strict">
  <div class="text" *ngIf="entityName">
    <span (click)="goEntity(model)" *ngIf="getEntity(model)">
      <span *ngFor="let prop of propertiesToSearch"> {{ cachedEntities[model][prop] | rpd }} </span>
    </span>
    <span (click)="goEntity(model)" *ngIf="!getEntity(model)">
      {{ model | json}}
    </span>
  </div>

  <div class="text" *ngIf="!entityName">
    {{ model }}
  </div>
  <div class="icon" (click)="model = null; modelChange.emit(null)">
    <img src="assets/icons/recycle-bin-trash.svg" alt="" />
  </div>

</div>

<div class="single-chip" *ngIf="creatingEntity">
  <div class="text">
    در انتظار برای ثبت رکورد جدید ...
  </div>
  <div class="icon" (click)="creatingEntity= false">
    <img src="assets/icons/close-5.svg" alt="" />
  </div>

</div>

<mat-form-field *ngIf="strict ? !creatingEntity && !model : !creatingEntity">
  <input matInput [placeholder]="label" (change)="selectEntity($event)" #entitySingleAutoInput (input)="filterEntities(entitySingleAutoInput.value,[model])"
    [matAutocomplete]="entityAuto">
</mat-form-field>



<mat-autocomplete [autoActiveFirstOption]="strict" #entityAuto="matAutocomplete" (optionSelected)="selectEntity(  $event);">

  <mat-option *ngIf="entityName" value="new">
    <img src="assets/icons/plus-add-1.svg" alt="" />
    ثبت {{label}} جدید
  </mat-option>

  <mat-option *ngFor="let item of filteredEntities" [value]="item._id || item">
    <div *ngIf="entityName">
      <span *ngFor="let prop of propertiesToSearch"> {{ item[prop] | rpd }} </span>
    </div>
    <span *ngIf="!entityName">
      {{ item | rpd }}
    </span>


  </mat-option>

</mat-autocomplete>
