<div class="widget widget-full">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <img src="/assets/icons/barcode-product-2.svg" />
      </div>
      <mat-card-title>فرم محصول </mat-card-title>
      <mat-card-subtitle>ثبت محصول جدید</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="logbox">
        {{ productForm.value | json }}
      </div>
      <form [formGroup]="productForm" class="">

        <mat-form-field>
          <input matInput placeholder="نام محصول" formControlName="name" />
        </mat-form-field>

        <div class="double-field">
          <mat-form-field class="w-70">
            <input matInput type="number" placeholder="قیمت محصول" formControlName="price" />
          </mat-form-field>

          <mat-form-field class="w-30">
            <mat-select placeholder="واحد پولی" formControlName="currency">
              <mat-option *ngFor="let type of ['ریال','تومان','دلار','یورو','یوآن']" [value]="type">
                {{type}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <app-company-select></app-company-select>

      </form>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="save()">ثبت</button>
      <button mat-button type="reset" (click)="reset()">ریست</button>
    </mat-card-actions>
  </mat-card>
</div>