<div class="double-field">

  <div class="w-50">
    <mat-form-field>

      <input dir="ltr" matInput [placeholder]="label" type="text" (change)="inputsChange()" mask="0000/00/00"
        [(ngModel)]="_model.date" [showMaskTyped]="true" (focus)="dateHelpers = true" (blur)="dateHelpers = false"
        autocomplete="off" />
    </mat-form-field>
  </div>
  <div class="w-50">

    <mat-form-field>
      <input dir="ltr" matInput placeholder="ساعت" [showMaskTyped]="true" (focus)="timeHelpers = true" (blur)="timeHelpers = false"
        mask="00:00:00" type="text" (change)="inputsChange()" autocomplete="off" [(ngModel)]="_model.time" />

    </mat-form-field>
  </div>


  <div class="helpers-container">

    <div class="helpers" [class.fadeIn]="dateHelpers">

      <ul>
        <li>
          <span (click)="model = moment().toDate();inputsChange(); ">
            هم اکنون
          </span>
        </li>

        <li>
          <span (click)="model = moment().add(-1,'day').toDate();inputsChange(); ">
            دیروز
          </span>
        </li>


        <li>
          <span (click)="model = moment().add( 1,'day').toDate();inputsChange(); ">
            فردا
          </span>

        </li>

        <li>
          <span (click)="model = moment().add( 2,'day').toDate() ;inputsChange(); ">
            پس فردا
          </span>

        </li>

        <li>
          <span>
            تقویم
          </span>
        </li>

      </ul>

    </div>


    <div class="helpers" [class.fadeIn]="timeHelpers">

      <ul>
        <li>
          <span (click)="model = moment(model).add(-1,'hour').toDate();inputsChange(); ">
            -{{ 1 | rpd}} ساعت
          </span>
        </li>

        <li>
          <span (click)="model = moment(model).add( 1,'hour').toDate();inputsChange(); ">
            +{{ 1 | rpd}} ساعت
          </span>
        </li>

        <li>
          <span (click)="model = moment(model).add( -15,'minute').toDate();inputsChange(); ">
            -{{ 15 | rpd}} دقیقه
          </span>

        </li>

        <li>
          <span (click)="model = moment(model).add(  15,'minute').toDate();inputsChange(); ">
            +{{ 15 | rpd}} دقیقه
          </span>

        </li>

        <li>
          <span (click)="model = moment(model).add(  30,'minute').toDate();inputsChange(); ">
            +{{ 30 | rpd}} دقیقه
          </span>

        </li>


      </ul>

    </div>


  </div>

</div>