
.icon-input{
    margin-bottom: 5px;
    .icons {
  text-align: center;
  max-width: 420px;
  display: block;

  .icon {
    width: 32px;
    height: 32px;
    display: inline-block;
    text-align: center;
    padding: 4px;
    box-sizing: border-box;
    transition: transform linear 0.2s;
    &:hover {
      transform: scale(1.8);
      transition: transform linear 0.05s;
    }
  }
}

.model {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
}

}
