<div class="head">
  <button mat-raised-button (click)="addItem()">
    <img src="assets/icons/plus-add-3.svg" />
    Add widget</button>
</div>
<gridster [options]="options">
  <gridster-item [item]="item" *ngFor="let item of dashboard">
    <!-- your content here -->
    <div class="gridster-item-content">
      <ndc-dynamic [ndcDynamicOutputs]="{
        DashboardCommand: dashboardCommand()}"
        [ndcDynamicComponent]="componentRepositoryService.dynamicComponents[item.component]"
        [ndcDynamicInputs]="item.inputs || {}"></ndc-dynamic>

    </div>

  </gridster-item>
</gridster>
