<app-calendar></app-calendar>
<app-weather></app-weather>

<app-storage></app-storage>
<app-map [mapId]="'dashboard-map'"></app-map>
<div id="pwa-loader" *ngIf="!dashboardReady">

  <div class="box">

    <div class="logo-loader">

      <div class="loader"></div>

      <div class="logo">
        <img src="assets/graphics/brand/fav-icon-call-to-action-button-5.svg" alt="">
      </div>

    </div>
    <div class="text">
      {{dashboardLoadingText}}
    </div>
  </div>


</div>
<div class="dashboard-wrapper" *ngIf="dashboardReady">
  <header id="header">
    <div class="inner">
      <div class="logo">
        <img src="assets/graphics/brand/logo-6.svg" />
      </div>

      <div class="quick" (click)="toggleDashboardDateTimeFormat()">
        <div class="datetime">
          <span class="time">
            <img *ngFor="let w of dashboardTime.split('')" [src]="'assets/digital-numbers/' + w + '.svg'" />
          </span>

          <span class="date"> {{ rpd(dashboardDate) }} </span>
        </div>
      </div>
      <div class="title" *ngIf="dashboardService.currentSection">
        <div class="icon">
          <img [src]="
              'assets/icons/' + dashboardService.currentSection.icon + '.svg'
            " />
        </div>

        {{ dashboardService.currentSection.title }}
      </div>

      <div class="explorer-toggle" (click)="explorerVisible ? explorerMouseOut() : explorerMouseIn()" [class.active]="explorerVisible">
        <img [src]="'assets/icons/arrow-right-next-2.svg'" />
      </div>

      <ng-container *ngTemplateOutlet="shortcuts"></ng-container>

      <!--
        <div class="container-add" (click)="addContainer()">
          <img [src]='"assets/icons/plus-add-2.svg"' />
        </div>
      -->

      <!--
        <div *ngFor="let item of [1,2,3,4,6,9]" class="grid-layout grid-layout-{{item}}" (click)="setGridLayout(item)">
          <img [src]="'assets/icons/tab-' + item + '.svg'" />
        </div>
      -->

      <div class="clear"></div>
    </div>
    <!--
      <nav>
        <a *ngFor="let item of dashboardService.getActiveTabs();trackBy:item?.title" [routerLink]="['/dashboard',dashboardService.currentSection.name,item.name]"
          routerLinkActive="active-link">
          <img [src]="item.icon ? 'assets/icons/' + item.icon + '.svg' : 'assets/icons/tabs/' + item.name + '.svg'" />

          <span>
            {{item.title}}
          </span>
        </a>
      </nav>
    -->
    <div class="clearfix"></div>
    <mat-progress-bar [color]="'primary'" mode="indeterminate">
    </mat-progress-bar>
  </header>

  <!-- (mouseenter)="explorerMouseIn()" (mouseleave)="explorerMouseOut()" -->
  <aside id="explorer" [class.hide]="!explorerVisible">
    <div class="explorer-inner">
      <!--
        <div class="splitter">
          ابزار های فعال
        </div>
        <ul class="active" [class.empty]="openWidgets.length == 0">


          <li *ngFor="let widget of  openWidgets ">
            <a [dndEffectAllowed]="'all'" [dndDraggable]="{ tab : widget.tab }">

              <div class="img">
                <img [src]="'assets/icons/' + widget.tab.icon + '.svg'" />
              </div>
              <span>
                {{widget.tab.title}}
              </span>

              <span class="close" (click)="deleteWidgetState(widget.id)">
                <img [src]="'assets/icons/close-5.svg'" />
              </span>


            </a>
          </li>


        </ul>
      -->

      <div class="splitter">مدیریت مشتری</div>
      <ul class="crm">
        <li *ngFor="
            let section of getExplorerSections(
              dashboardService.schema ? dashboardService.schema.dashboard : []
            )
          ">
          <a (click)="section.toggleUl = !section.toggleUl">
            <img [src]="'assets/icons/' + section.icon + '.svg'" />
            <span> {{ section.title }} </span>

            <img class="toggle-ul" [class.active]="section.toggleUl" [src]="'assets/icons/arrow-right-next-8.svg'" />
          </a>

          <ul [class.show]="section.toggleUl">
            <li *ngFor="let tab of getExplorerTabs(section.tabs)">
              <a [dndEffectAllowed]="'all'" [dndDraggable]="{ tab: tab }" (dndStart)="tabDragStart(tab)" (dndEnd)="tabDragEnd()">
                <div class="img">
                  <img [src]="'assets/icons/' + tab.icon + '.svg'" />
                </div>
                <span> {{ tab.title }} </span>
              </a>
            </li>
          </ul>
        </li>

        <li class="sync">
          <a (click)="sync()">
            <img [src]="'assets/icons/sync-6.svg'" />
            <span>همگام سازی</span>
          </a>
        </li>

        <li class="logout">
          <a (click)="logout()">
            <img [src]="'assets/icons/off-1.svg'" />
            <span>خروج</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>

  <div class="grid-container" [ngClass]="'f' + grid.containers.length" [class.explorer-show]="explorerVisible"
    [class.go-back]="!explorerAnimDone">
    <div class="tabs-container" dndDropzone (dndDragover)="onTabDragover($event, c)" (dndDrop)="onTabDrop($event, c)"
      *ngFor="let container of grid.containers; let c = index">
      <!-- optional placeholder element for dropzone -->
      <!-- will be removed from DOM on init -->
      <div dndPlaceholderRef>

        <div class="placeholder" *ngIf="tabDragging"></div>

      </div>

      <ul class="tabs-nav" *ngIf="container.tabs.length > 0" [class.showTabs]="container.showTabs" [id]="'nav-tab-' + c"
        [class.full]="isNavTabFull('nav-tab-' + c)">
        <li *ngFor="let tab of definedItemsOfArray(container.tabs); let i = index" [style.top]="container.showTabs ? i * 40 + 10 + 'px' : 'unset'"
          [class.last-item]="i == container.tabs.length - 1" [style.z-index]="i" [style.left]="container.showTabs ? 10 + 'px' : 'unset'"
          [style.right]="container.showTabs ? 10 + 'px' : 'unset'" [id]="'tab-' + c + '-' + i" [class.nextIsActive]="
            container.tabs[i + 1] && container.tabs[i + 1].active
          "
          [class.prevIsActive]="
            container.tabs[i - 1] && container.tabs[i - 1].active
          "
          [class.nextIsHover]="
            container.tabs[i + 1] && container.tabs[i + 1].hover
          "
          [class.prevIsHover]="
            container.tabs[i - 1] && container.tabs[i - 1].hover
          "
          [class.active]="tab.active" [class.hover]="tab.hover" (mouseenter)="tab.hover = !container.showTabs"
          (mouseout)="tab.hover = false" (click)="isNavTabFull('nav-tab-' + c) && !container.showTabs ? '' : setActive(tab, container); container.showTabs = false">
          <a class="tab-handle" [title]="tab.title" [dndDisableIf]="screen == 'mobile'" [dndEffectAllowed]="'all'"
            (dndStart)="tabDragStart(tab)" (dndEnd)="tabDragEnd()" [dndDraggable]="{ containerIndex: c, tabIndex: i }">
            <div class="tab-icon">
              <img [src]="'assets/icons/location-pin.svg'" />
              <!-- <img [src]="'assets/icons/' + tab.icon + '.svg'" /> -->
            </div>
            <div class="tab-title">{{ tab.title }}</div>
            <div class="tab-close" (click)="closeTab(c, i)">
              <img [src]="'assets/icons/close-5.svg'" />
            </div>
          </a>
        </li>

        <li class="full-nav prevIsActive" (click)="container.showTabs = true">
          <a class="tab-handle">
            <div class="tab-icon">{{ rpd(container.tabs.length) }}</div>
            <div class="tab-title">تب باز</div>
          </a>
        </li>

        <li [class.prevIsActive]="
            container.tabs[container.tabs.length - 1] &&
            container.tabs[container.tabs.length - 1].active
          "
          [class.prevIsHover]="
            container.tabs[container.tabs.length - 1] &&
            container.tabs[container.tabs.length - 1].hover
          ">
          <a class="tab-handle"> &nbsp; </a>
        </li>
      </ul>

      <div *ngFor="let tab of container.tabs; let t = index" [hidden]="!tab.active || container.showTabs">
        <div class="widget-container" *ngFor="let widget of getWidgets(tab); let w = index" [hidden]="widget.screen && widget.screen != dashboardService.screen">
          <ndc-dynamic *ngIf="!widget.screen || widget.screen == dashboardService.screen" [ndcDynamicInputs]="
              extendObj({ widgetId: widget.id, tab: tab }, widget.inputs || {})
            "
            [ndcDynamicOutputs]="{
              DashboardCommand: dashboardCommand(c, t, w),
              TabChange: tabChange(c, t, w),
              WidgetChange: widgetChange(c, t, w)
            }"
            [ndcDynamicComponent]="getComponent(widget.component)"></ndc-dynamic>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="businessService.getActiveBusinessId()" id="start-button" (click)="startButtonClick()">
    <img src="assets/graphics/brand/fav-icon-call-to-action-button-5.svg" alt="" />
  </div>

  <div id="start" (click)="clickOnStartWrapper($event)">
    <div class="inner">
      <ng-container *ngTemplateOutlet="shortcuts"></ng-container>
      <nav *ngIf="!search.mode">
        <ul [class.search-active]="search.text">
          <li *ngFor="
              let item of dashboardService.schema
                ? dashboardService.schema.dashboard
                : []
            "
            [class.no-result]="search.text && (search.results[item.name] ?  search.results[item.name].length == 0 : true )"
            [class.active]="!search.text && dashboardService.currentSection.name == item.name">
            <a [routerLink]="search.text ? null : ['/dashboard', item.name == 'dashboard' ? '' : item.name]" (click)="search.text ? search.mode =item.name : hideStart()">
              <div class="count" *ngIf="search.text">

                {{( search.results[item.name] ? search.results[item.name].length || '0' : '0') | rpd}}</div>
              <img *ngIf="!search.text" [src]="'assets/icons/' + item.icon + '.svg'" />
              <span> {{ item.title }} </span>
            </a>
          </li>
        </ul>
      </nav>
      <div *ngIf="!search.mode">
        <div class="toggles">
          <div class="task">وظایف</div>
          <div class="notification">اعلان‌ها</div>
        </div>

        <div class="notifications">
          <div class="empty">
            <img src="assets/icons/notification-bell-5.svg" />

            <p>اعلانی موجود نیست.</p>
          </div>
        </div>
        <div class="tasks"></div>
      </div>

    </div>
  </div>
</div>

<ng-template #shortcuts>
  <div class="shortcuts">
    <div class="search" [class.search-active]="search.text" [class.mode-selected]="search.mode">
      <div class="search-inner">

        <div>
          <img src="assets/icons/search.svg" alt="انجام جست‌و‌جو" (click)="doSearch(search.text)" />
          <img *ngIf="search.text" src="assets/icons/close-5.svg" (click)="search.text= '';search.mode=''" alt="ریست جست‌و‌جو">

          <input type="text" [dir]="getInputDirection(search.text)" [(ngModel)]="search.text" (keyup)="doSearch(search.text)"
            placeholder="جست‌و‌جو ..." />

          <img *ngIf="search.mode" (click)="search.mode = ''" [src]="'assets/icons/'+ getModeIcon(search.mode) +'.svg'" />
        </div>

        <div class="did-you-mean" *ngIf="search.didYouMean">
          آیا منظور شما
          <a (click)="search.text = search.didYouMean;search.didYouMean = '';doSearch(search.text)">{{search.didYouMean}}</a>
          است؟
        </div>

      </div>

    </div>
    <ul>
      <li>
        <a>
          <img src="assets/icon-crm-header/icons-crm-header-note-2.svg" alt="" />
        </a>
      </li>

      <li>
        <a (click)="toggleCalendar()" [class.active]="calendarService.calendarVisible">
          <img src="assets/icon-crm-header/icons-crm-header-calendar.svg" alt="" />
        </a>
      </li>

      <li>
        <a (click)="toggleMap()" [class.active]="gmapsService.dashboardMapVisible">
          <img src="assets/icon-crm-header/icons-crm-header-map.svg" alt="" />
        </a>
      </li>

      <li>
        <a (click)="toggleWeather()" [class.active]="weatherService.weatherVisible">
          <img src="assets/icon-crm-header/icons-crm-header-weather.svg" alt="" />
        </a>
      </li>


    </ul>
  </div>
</ng-template>