<app-calendar *ngIf="showCalendar"></app-calendar>

<div class="dashboard-wrapper">
  <header id="header">

    <div class="shortcuts">
      <ul>

        <li>
          <a>
            <img src="/assets/icon-crm-header/icons-crm-header-note.svg" alt="">
          </a>
        </li>

        <li>
          <a (click)="showCalendar = !showCalendar">
            <img src="/assets/icon-crm-header/icons-crm-header-calendar.svg" alt="">
          </a>
        </li>

        <li>
          <a>
            <img src="/assets/icon-crm-header/icons-crm-header-map.svg" alt="">
          </a>
        </li>

        <li>
          <a>
            <img src="/assets/icon-crm-header/icons-crm-header-weather.svg" alt="">
          </a>
        </li>

        <li>
          <a>
            <img src="/assets/icon-crm-header/icons-crm-header-cal.svg" alt="">
          </a>
        </li>

        <li class="capture">
          <a>
            <img src="/assets/icon-crm-header/icons-crm-header-capture-1.svg" alt="">
          </a>
        </li>

        <li>
          <a>
            <img src="/assets/icon-crm-header/icons-crm-header-clock-2.svg" alt="">
          </a>
        </li>


        <li>
          <a>
            <img src="/assets/icon-crm-header/icons-crm-header-colors.svg" alt="">
          </a>
        </li>





        <li>
          <a>
            <img src="/assets/icon-crm-header/icons-crm-header-air.svg" alt="">
          </a>
        </li>







      </ul>
    </div>


    <div class="inner">
      <div class="logo">
        <img src='/assets/graphics/brand/serendip-logo-light.svg' />
      </div>



      <div class="quick" (click)="toggleDashboardDateTimeFormat()">

        <div class="datetime">

          <span class="time">
            <img *ngFor="let w of dashboardTime.split('')" [src]='"/assets/digital-numbers/" + w + ".svg"' />
          </span>

          <span class="date">
            {{ rpd( dashboardDate ) }}
          </span>
        </div>



      </div>
      <div class="title" *ngIf="dashboardService.currentSection">
        <div class="icon">
          <img [src]=' "/assets/icons/" + dashboardService.currentSection.icon + ".svg"' />
        </div>

        {{dashboardService.currentSection.title}}
      </div>





      <div class="explorer-toggle" (click)="explorerVisible ? explorerMouseOut() : explorerMouseIn()" [class.active]="explorerVisible">
        <img [src]='"/assets/icons/arrow-right-next-2.svg"' />
      </div>


      <!-- 
      <div class="container-add" (click)="addContainer()">
        <img [src]='"/assets/icons/plus-add-2.svg"' />
      </div> -->

      <!-- <div *ngFor="let item of [1,2,3,4,6,9]" class="grid-layout grid-layout-{{item}}" (click)="setGridLayout(item)">
        <img [src]="'/assets/icons/tab-' + item + '.svg'" />
      </div> -->


      <div class="clear"></div>


    </div>
    <!-- 
    <nav>
      <a *ngFor="let item of dashboardService.getActiveTabs();trackBy:item?.title" [routerLink]="['/dashboard',dashboardService.currentSection.name,item.name]"
        routerLinkActive="active-link">
        <img [src]="item.icon ? '/assets/icons/' + item.icon + '.svg' : '/assets/icons/tabs/' + item.name + '.svg'" />
  
        <span>
          {{item.title}}
        </span>
      </a>
    </nav> -->


  </header>

  <!-- (mouseenter)="explorerMouseIn()" (mouseleave)="explorerMouseOut()" -->
  <aside id="explorer" [class.hide]="!explorerVisible">

    <div class="explorer-inner">

      <div class="splitter">
        ابزار های فعال
      </div>
      <ul class="active" [class.empty]="openWidgets.length == 0">


        <li *ngFor="let widget of  openWidgets ">
          <a [dndEffectAllowed]="'all'" [dndDraggable]="{ tab : widget.tab }">

            <div class="img">
              <img [src]="'assets/icons/' + widget.tab.icon + '.svg'" />
            </div>
            <span>
              {{widget.tab.title}}
            </span>

            <span class="close" (click)="deleteWidgetState(widget.id)">
              <img [src]="'assets/icons/close-5.svg'" />
            </span>


          </a>
        </li>


      </ul>

      <div class="splitter">
        مدیریت مشتری
      </div>
      <ul class="crm">
        <li *ngFor="let section of  getExplorerSections(dashboardService.schema)">
          <a (click)="section.toggleUl = !section.toggleUl">
            <img [src]="'assets/icons/' + section.icon + '.svg'" />
            <span>
              {{section.title}}
            </span>

            <img class="toggle-ul" [class.active]="section.toggleUl" [src]='"/assets/icons/arrow-right-next-8.svg"' />

          </a>

          <ul [class.show]="section.toggleUl">
            <li *ngFor="let tab of getExplorerTabs( section.tabs)">
              <a [dndEffectAllowed]="'all'" [dndDraggable]="{ tab : tab}">
                <div class="img">
                  <img [src]="'assets/icons/' + tab.icon + '.svg'" />
                </div>
                <span>
                  {{tab.title}}
                </span>
              </a>
            </li>
          </ul>
        </li>

      </ul>

    </div>

  </aside>

  <div class="grid-container" [ngClass]="'f' + gridLayout.containers.length" [class.explorer-show]="explorerVisible"
    [class.go-back]="!explorerAnimDone">

    <div class="tabs-container" dndDropzone (dndDragover)="onTabDragover($event,c)" (dndDrop)="onTabDrop($event,c)"
      *ngFor="let container of gridLayout.containers;let c = index">

      <!--optional placeholder element for dropzone-->
      <!--will be removed from DOM on init-->
      <div class="placeholder" dndPlaceholderRef>

      </div>


      <ul class="tabs-nav" *ngIf="container.tabs.length > 0" [class.showTabs]="container.showTabs" [id]="'nav-tab-' + c  "
        [class.full]="isNavTabFull('nav-tab-' + c )">
        <li *ngFor="let tab of definedItemsOfArray(container.tabs);let i = index" [style.top]="container.showTabs ? ( i * 40 ) + 10 + 'px' : 'unset'"
          [class.last-item]="i == container.tabs.length - 1" [style.z-index]="i" [style.left]="container.showTabs ? ( i * 10 )+ 10  + 'px' : 'unset'"
          [style.right]="container.showTabs ? ( i * 10 )+ 10  + 'px' : 'unset'" [id]="'tab-' + c + '-'+ i"
          [class.nextIsActive]="container.tabs[i + 1] && (container.tabs[i + 1].active )" [class.prevIsActive]="container.tabs[i - 1] && (container.tabs[i - 1].active )"
          [class.nextIsHover]="container.tabs[i + 1] && (container.tabs[i + 1].hover)" [class.prevIsHover]="container.tabs[i - 1] && (container.tabs[i - 1].hover)"
          [class.active]="tab.active" [class.hover]="tab.hover" (mouseenter)="tab.hover = !container.showTabs;"
          (mouseout)="tab.hover = false;" (click)="setTabActive(tab,container);container.showTabs = false;">

          <a class="tab-handle" [title]="tab.title" [dndDisableIf]="screen == 'mobile'" [dndEffectAllowed]="'all'"
            [dndDraggable]="{ containerIndex : c,tabIndex : i}">
            <div class="tab-icon">
              <img [src]="'assets/icons/' + tab.icon + '.svg'" />
            </div>
            <div class="tab-title">
              {{tab.title}}
            </div>
            <div class="tab-close" (click)="closeTab(c,i)">
              <img [src]="'assets/icons/close-5.svg'" />
            </div>
          </a>

        </li>

        <li class="full-nav prevIsActive" (click)="container.showTabs = true">

          <a class="tab-handle" [dndDisableIf]="screen == 'mobile'" [dndEffectAllowed]="'all'" [dndDraggable]="{ containerIndex : c,tabIndex : i}">
            <div class="tab-icon">
              {{ rpd(container.tabs.length)}}
            </div>
            <div class="tab-title">
              تب باز
            </div>
          </a>

        </li>


        <li [class.prevIsActive]="container.tabs[container.tabs.length - 1] && (container.tabs[container.tabs.length - 1].active  )"
          [class.prevIsHover]="container.tabs[container.tabs.length - 1] && ( container.tabs[container.tabs.length - 1].hover)">
          <a class="tab-handle">
            &nbsp;
          </a>
        </li>

      </ul>

      <div *ngFor="let tab of container.tabs;let t = index" [hidden]="!tab.active || container.showTabs">
        <div class="widget-container" *ngFor="let widget of getTabWidgets(tab)" [hidden]="widget.screen && widget.screen != dashboardService.screen">
          <ndc-dynamic *ngIf="!widget.screen || widget.screen == dashboardService.screen" [ndcDynamicInputs]="extendObj( { widgetId : widget.id , tab : tab},widget.inputs || {})"
            [ndcDynamicOutputs]="{ widgetCommand : widgetCommand(widget,tab,container) , widgetTabChange : widgetTabChange(c,t),  widgetIdChange : widgetIdChange(widget) , widgetDataChange : widgetDataChange() }"
            [ndcDynamicComponent]="getComponent(widget.component)"></ndc-dynamic>
        </div>
      </div>

    </div>
  </div>


  <div *ngIf='crmService.getActiveCrmId()' id="start-button">
    <img src="assets/graphics/brand/fav-icon-call-to-action-button-5.svg" alt="" />
  </div>

  <div id="start" (click)="clickOnStartWrapper($event)">

    <div class="inner">
      <div class="search">
        <div class="search-inner">
          <input type="text" dir="auto" [(ngModel)]="search.text" placeholder="جست‌و‌جو ..." />
          <img src='assets/icons/search.svg' />
        </div>
      </div>
      <nav>
        <ul>
          <li *ngFor="let item of dashboardService.schema">
            <a [routerLink]="item.name == 'dashboard' ? ['/dashboard'] : ['/dashboard',item.name]">
              <img [src]="'assets/icons/' + item.icon + '.svg'" />
              <span>
                {{item.title}}
              </span>
            </a>
          </li>

        </ul>
      </nav>

      <div class="tabs">

        <div class="tabs-inner">

          <mat-tab-group [color]="'ascent'" dynamicHeight="true">
            <mat-tab label="پیام‌ها">
              <div class="tab-content">

              </div>
            </mat-tab>
            <mat-tab label="اعلان‌ها">
              <div class="tab-content">
              </div>
            </mat-tab>
            <mat-tab label="وظایف">
              <div class="tab-content">
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>

      </div>
    </div>
  </div>
</div>