<header>

    <div class="inner">
        <div class="logo">
            <img src='/assets/graphics/brand/serendip-farsi.svg' />
        </div>

        <div class="title">
            <div class="icon">
                <img src='/assets/icons/people-users-1.svg' />
            </div>
            {{currentSchema.title}}
        </div>
        <div class="clear"></div>

    </div>


    <nav>


        <a *ngFor="let item of currentSchema.tabs" [routerLink]="['/dashboard',currentSchema.name,item.name]"
            routerLinkActive="active-link">
            <img [src]="'/assets/icons/tabs/' + item.name + '.svg'" />
            {{item.title}}
        </a>

    </nav>

</header>

<div class="grid-container">

    <div class="widget-container" *ngFor="let item of currentTab.widgets" [hidden]="item.screen && item.screen != screen">
        <ndc-dynamic *ngIf="!item.screen || item.screen == screen" [ndcDynamicComponent]="item.component"></ndc-dynamic>

    </div>

    <div class="clear"></div>

</div>