 <form class="form-wrapper">



  <p style="margin-bottom: 15px;">
    Use this form to change or set your password.
  </p>


   <app-form-text-input [type]="'password'" (modelChange)="model.password = $event" label="new password">
   </app-form-text-input>

   <app-form-text-input [type]="'password'" (modelChange)="model.passwordConfirm = $event" label="retype new password">
   </app-form-text-input>

   <button (click)="save()" mat-raised-button color="secondary">

     Change password
   </button>
   <span *ngIf="message">
     {{ message }}
   </span>
 </form>
