<div class="widget">
  <mat-card>
    <mat-card-content>
      <form class="form-wrapper">
        <p *ngIf="message">
          {{ message }}
        </p>
        <app-form-text-input
          (modelChange)="model.password = $event"
          label="پسورد جدید"
        ></app-form-text-input>

        <app-form-text-input
          (modelChange)="model.passwordConfirm = $event"
          label="تکرار پسورد جدید"
        ></app-form-text-input>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="save()" class="sp-button-icon with-text">
        <img [src]="'/assets/icons/save-backup-1.svg'" />
        <!-- {{saveButtonText}} -->
        تغییر رمز عبور
      </button>
    </mat-card-actions>
  </mat-card>
</div>
