.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none !important;
}

.mat-expansion-panel {
    background: none !important;
}

.mat-select-panel {
    max-height: 90vh !important;
}

.mat-simple-snackbar,
.mat-tab-label,
.mat-card,
.mat-input-element,
.mat-form-field,
.mat-tab-link {}

.mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
    caret-color: #6C87C3;
}

.mat-tab-link img {
    height: 16px;
    width: auto;
    margin-left: 5px;
}

.mat-header-cell {
    font-size: 15px !important;
    img {
        height: 32px;
        width: 32px;
    }
    &.number {
        text-align: center !important;
    }
}

.mat-select {
    margin-top: 1.5px;
}

.double-field {

    &:after{
        clear: both;
        display: block;
        content:' ';

    }
    .mat-form-field {
        float: right;
        width: 50%;
        vertical-align: top;
        &.w-20 {
            width: 20%;
        }
        &.w-30 {
            width: 30%;
        }
        &.w-40 {
            width: 40%;
        }
        &.w-50 {
            width: 50%;
        }
        &.w-60 {
            width: 60%;
        }
        &.w-70 {
            width: 70%;
        }
        &.w-80 {
            width: 80%;
        }
    }
}

.mat-cell {
    img {
        height: 16px;
        width: 16px;
    }
    &.number {
        text-align: center !important;
    }
}

.mat-table,
.mat-paginator {
    background: none;
}

.mat-card-actions,
.mat-card-content,
.mat-card-subtitle,
.mat-card-title {
    margin-top: 5px !important;
    margin-bottom: 0 !important;
}

.mat-card-avatar {
    height: 50px !important;
    width: 50px !important;
}

.mat-hint {
    font-size: 9px;
    height: 22px;
}

.mat-card {
    background: rgba(255, 255, 255, 0.7);
}

mat-form-field .plus img,
mat-form-field .minus img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 0 160px #fff inset, 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12) !important;
}