@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "material.less";
// @import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
/**
*
*	Name:			IRANYekan Font
*	Version:		1.0
*	Author:			Moslem Ebrahimi (moslemebrahimi.com)
*	Created on:		Dec 20, 2016
*	Updated on:		Dec 20, 2016
*	Website:		http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت ایران یکان یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
IRANYekan fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
--------------------------------------------------------------------------------------
*
**/

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: bold;
    src: url('assets/fonts/iranyekanwebbold.eot');
    src: url('assets/fonts/iranyekanwebbold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('assets/fonts/iranyekanwebbold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('assets/fonts/iranyekanwebbold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('assets/fonts/iranyekanwebbold.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 300;
    src: url('assets/fonts/iranyekanweblight.eot');
    src: url('assets/fonts/iranyekanweblight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('assets/fonts/iranyekanweblight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('assets/fonts/iranyekanweblight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('assets/fonts/iranyekanweblight.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url('assets/fonts/iranyekanwebregular.eot');
    src: url('assets/fonts/iranyekanwebregular.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('assets/fonts/iranyekanwebregular.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('assets/fonts/iranyekanwebregular.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('assets/fonts/iranyekanwebregular.ttf') format('truetype');
}

// * {
//     transition: none !important;
// }
::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.15);
}

input,
select,
button,
textarea {
    font-family: iranyekan;
}

.nav-container {
    padding: 0 20px;
    box-sizing: border-box;
    nav {
        background: rgba(255, 255, 255, 0.7);
        box-shadow: 0 0 20px #fff inset;
    }
}

.chart-container {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    .polar-chart .radial-gridline-path {
        stroke: none;
    }
    .polar-chart .radial-gridline-path:nth-child(2n+1) {
        fill: rgb(245, 245, 245);
    }
    .polar-chart .radial-gridline-path:nth-child(2n) {
        fill: #fff;
    }
    text {
        font-size: 11px !important;
        font-weight: 100 !important;
    }
    .pie-label-line {
        stroke: rgb(210, 210, 210) !important;
    }
    .pie-label {
        font-weight: bold !important;
    }
    .pie-label[style*='text-anchor: start;'] {
        text-anchor: end !important;
    }
    .pie-label[style*='text-anchor: end;'] {
        text-anchor: start !important;
    }
    .chart-legend {
        background: rgb(245, 245, 245);
        border-radius: 10px; // padding: 5px;
        box-sizing: border-box;
        width: 100px;
        .legend-title {
            line-height: 30px;
            margin: 0 auto;
            padding: 0 5px;
            .legend-title-text {
                line-height: unset;
                display: block;
                font-weight: 500;
            }
        }
        .legend-wrap {
            width: 100%;
        }
        .legend-labels {
            background: none;
            .legend-label {
                line-height: 24px;
                margin: 0;
                padding: 0 5px;
            }
        }
        .legend-label-text {
            text-align: right;
            color: #333;
            font-size: 9px;
        }
        .legend-label-color {
            margin-left: 5px;
            margin-right: unset;
            border-radius: 100%;
            vertical-align: top;
            width: 10px;
            height: 10px;
        }
    }
}

body * {
    font-family: iranyekan !important;
}

body {
    font-family: iranyekan;
    font-size: 14px;
}

label {
    font-weight: 500;
    color: #777;
    line-height: 30px;
}

.file-upload {
    position: relative;
    height: 120px;
    border: 1px dashed rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    img {
        height: 100px;
        width: auto;
        display: block;
        margin: 10px auto;
        &.default {
            opacity: .2;
        }
    }
    input[type=file] {
        width: 100%;
        height: 100%;
        opacity: 0;
        position: absolute;
        z-index: 3;
    }
}

.grid-container {
    width: calc(~"100% - 55px");
    float: left;
    display: grid;
    transition: width ease-in-out .1s;
    position: relative;
    height: calc(~"100vh - 60px");
    overflow: hidden;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    &.f1 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    &.f2 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    &.f3 {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    &.f4 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    &.f6,
        {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    &.f9,
        {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .tabs-container {
        overflow: hidden;
        box-sizing: border-box;
        padding: 10px;
        position: relative;
        .placeholder {
            background: rgba(255, 255, 255, .5);
            border-radius: 10px;
            position: absolute;
            top: 15px;
            left: 15px;
            height: calc(~"100% - 30px");
            width: calc(~"100% - 30px");
            content: ' ';
            z-index: 2;
        }
        ul.tabs-nav {
            padding: 0;
            margin: 0;
            display: block;
            background: #efefef;
            user-select: none;
            height: 30px;
            white-space: nowrap;
            overflow-y: hidden;
            overflow-x: scroll;
            li.full-nav {
                display: none;
            }
            &.full {
                li {
                    display: none;
                    .tab-title {
                        max-width: 200px;
                    }
                }
                li.active,
                li.full-nav {
                    display: inline-block;
                }
            }
            &.showTabs {
                li.full-nav {
                    display: none;
                }
                background:#efefef;
                position: absolute;
                top:0;
                left:0;
                height:100%;
                width:100%;
                z-index:100;
                box-sizing: border-box;
                li {
                    position: absolute;
                    display: block;
                    height: 90vh;
                    border-top: 1px solid rgb(230, 230, 230);
                    border-right: 1px solid rgb(230, 230, 230);
                    text-align: right;
                    width: auto;
                    right: 10px;
                    left: 0;
                    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
                    border-radius: 0 10px 0 0;
                    background: #fff;
                    overflow: hidden;
                    a {
                        background: rgb(245, 245, 245);
                        border-bottom: 1px solid rgb(230, 230, 230);
                        border-radius: 0 0 0 0 !important;
                    }
                    .tab-title {
                        max-width: unset;
                    }
                    .tab-close {
                        display: block;
                    }
                }
                li.active {
                    border-radius: 0 10px 0 0;
                    a {
                        background: #D2AE6D;
                    }
                    .tab-title {
                        color: #fff;
                    }
                    img {
                        filter: invert(1);
                    }
                }
                li.full-nav,
                li:last-child {
                    display: none;
                }
            }
            li {
                display: inline-block;
                line-height: 30px;
                text-align: center;
                vertical-align: top;
                cursor: pointer;
                z-index: 1;
                position: relative;
                &,
                a {
                    transition: border-radius ease 0s;
                }
                &.active {
                    border-radius: 10px 10px 0 0;
                    overflow: hidden;
                    a {
                        background: #fff;
                    }
                }
                &.nextIsActive {
                    background: #fff;
                    &,
                    a {
                        transition: border-radius ease 0.3s;
                    }
                    a {
                        border-radius: 0 0 0 0;
                    }
                }
                &.prevIsActive {
                    background: #fff;
                    &,
                    a {
                        transition: border-radius ease 0.3s;
                    }
                    a {
                        border-radius: 0 0 10px 0px;
                    }
                }
                .tab-handle {
                    display: block;
                    position: relative;
                    padding: 0 24px;
                    background: #efefef;
                }
                .tab-title {
                    color: #777;
                    display: inline-block;
                    vertical-align: top;
                    position: relative;
                    z-index: 1;
                    font-size: 12px;
                    max-width: 60px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
                .tab-icon {
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    line-height: 18px;
                    font-size: 15px;
                    font-weight: 100;
                    border-radius: 100%;
                    vertical-align: middle;
                    position: absolute;
                    top: 6px;
                    right: 3px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                &:hover .tab-close {
                    display: block;
                }
                .tab-close {
                    width: 16px;
                    height: 16px;
                    border-radius: 100%;
                    vertical-align: middle;
                    position: absolute;
                    top: 6px;
                    left: 4px;
                    display: none;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    .widget-container {
        overflow: hidden;
        box-sizing: border-box;
        .mat-card-content {
            max-height: calc(~"100vh - 230px");
            padding: 15px;
            box-sizing: border-box;
            overflow: hidden;
        }
        .mat-card-actions {
            padding: 15px;
        }
        &:hover .mat-card-content {
            overflow: auto;
        }
    }
    &.explorer-show {
        width: calc(~"100% - 185px");
    }
    &.go-back {
        width: calc(~"100% - 210px");
    }
}

@media(max-width:640px) {
    .grid-container .tabs-container {
        min-height: 100vh;
    }
    aside#explorer {
        position: fixed;
        top: 0;
        right: 0;
        float: none;
        z-index: 5;
        height: 100vh !important;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        &.hide {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }
        .explorer-inner {
            padding-top: 50px;
        }
        &.docScrolled {
            right: -60px;
        }
    }
    .grid-container {
        height: auto;
        width: calc(100% - 50px);
        &.docScrolled {
            width: 100%;
        }
        .tabs-container {
            padding: 5px 5px 0 0;
        }
        &.explorer-show {
            width: calc(100% - 50px);
        }
        &.go-back {
            width: calc(100% - 50px);
        }
        .widget-container {
            .mat-card-content {
                max-height: unset;
                padding: 5px;
                box-sizing: border-box;
            }
            .widget form {
                margin-top: 0;
            }
        }
    }
}

div.timepicker {
    direction: ltr;
    &,
    * {
        font-family: monospace !important;
    }
    .timepicker__actions {
        height: 45px;
        padding: 0;
        position: relative;
        div {
            button span {
                font-family: iranyekan !important;
            }
            position: absolute;
            top:0;
        }
        div:first-child {
            left: 10px;
        }
        div:last-child {
            right: 10px;
        }
        &:after {
            clear: both;
            display: block;
            content: ' ';
        }
    }
}

.logbox {
    background: #444;
    color: chartreuse;
    direction: ltr;
    padding: 13px;
    box-sizing: border-box;
    font-size: 11px;
    font-family: tahoma !important;
    text-align: left;
    margin: 30px auto;
    border-radius: 10px;
    display: none;
}

#start {
    .mat-tab-label,
    .mat-tab-link {
        color: #fff;
    }
    .mat-tab-header-pagination-disabled .mat-tab-header-pagination-chevron {
        border-color: rgba(255, 255, 255, .3);
    }
    .mat-tab-header-pagination-chevron {
        border-color: rgba(255, 255, 255, .9);
    }
}

body {
    background: #efefef;
    background-size: cover;
    font-family: iranyekan;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

[dir=rtl] {
    .mat-radio-label-content {
        padding-left: 12px !important;
        padding-right: 4px !important;
    }
    th.mat-header-cell {
        text-align: right;
    }
}

.clear {
    clear: both;
    content: ' ';
}

.widget {
    form .mat-form-field,
    table {
        width: 100%;
    }
    form {
        margin-top: 15px;
    }
}

.form-group {
    margin-top: 10px;
    margin-bottom: 5px;
}

.full-width {
    width: 100%;
}