@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "material.less";
// @import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@font-face {
    font-family: 'XEROSANS-BLACK';
    src: url('assets/fonts/XEROSANS-BLACK.woff') format('woff');
}

/**
*
*	Name:			IRANYekan Font
*	Version:		1.0
*	Author:			Moslem Ebrahimi (moslemebrahimi.com)
*	Created on:		Dec 20, 2016
*	Updated on:		Dec 20, 2016
*	Website:		http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت ایران یکان یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
IRANYekan fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
--------------------------------------------------------------------------------------
*
**/

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: bold;
    src: url('assets/fonts/iranyekanwebbold.eot');
    src: url('assets/fonts/iranyekanwebbold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('assets/fonts/iranyekanwebbold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('assets/fonts/iranyekanwebbold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('assets/fonts/iranyekanwebbold.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 300;
    src: url('assets/fonts/iranyekanweblight.eot');
    src: url('assets/fonts/iranyekanweblight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('assets/fonts/iranyekanweblight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('assets/fonts/iranyekanweblight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('assets/fonts/iranyekanweblight.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url('assets/fonts/iranyekanwebregular.eot');
    src: url('assets/fonts/iranyekanwebregular.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('assets/fonts/iranyekanwebregular.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('assets/fonts/iranyekanwebregular.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('assets/fonts/iranyekanwebregular.ttf') format('truetype');
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
    background: #eee;
}

input,
select,
button,
textarea {
    font-family: iranyekan;
}

.nav-container {
    padding: 0 20px;
    box-sizing: border-box;
    nav {
        background: rgba(255, 255, 255, 0.7);
        box-shadow: 0 0 20px #fff inset;
    }
}

body * {
    font-family: iranyekan !important;
}

body {
    font-family: iranyekan;
    font-size: 14px;
}

label {
    font-weight: 500;
    color: #777;
    line-height: 30px;
}

.file-upload {
    position: relative;
    height: 120px;
    border: 1px dashed rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    img {
        height: 100px;
        width: auto;
        display: block;
        margin: 10px auto;
        &.default {
            opacity: .2;
        }
    }
    input[type=file] {
        width: 100%;
        height: 100%;
        opacity: 0;
        position: absolute;
        z-index: 3;
    }
}

.grid-container {
    width: calc(~"100% - 60px");
    float: left;
    display: grid;
    grid-template-columns: 1fr;
    transition: width ease .3s;
    position: relative;
    height: calc(~"100vh - 60px");
    overflow: hidden;
    &.f1 {
        grid-template-columns: 1fr;
    }
    &.f2 {
        grid-template-columns: 1fr 1fr;
    }
    &.f3 {
        grid-template-columns: 1fr 1fr 1fr;
    }
    &.f4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .tabs-container {
        overflow: hidden;
        box-sizing: border-box;
        padding: 10px;
        ul.tabs-nav {
            padding: 0;
            margin: 0;
            display: block;
            background: #efefef;
            li {
                display: inline-block;
                line-height: 30px;
                text-align: center;
                padding: 0 10px;
                margin-right: 15px;
                border-radius: 5px 5px 0 0;
                vertical-align: top;
                color: #777;
                background: #efefef;
                cursor: pointer;
                position: relative;
                &.active {
                    background: #fff;
                }
            }
        }
    }
    .widget-container {
        overflow: hidden;
        box-sizing: border-box;
        .mat-card-content {
            max-height: calc(~"100vh - 230px");
            padding: 15px;
            box-sizing: border-box;
            overflow: hidden;
        }
        .mat-card-actions {
            padding: 15px;
        }
        &:hover .mat-card-content {
            overflow: auto;
        }
    }
    &.explorer-show {
        width: calc(~"100% - 185px");
    }
    &.go-back {
        width: calc(~"100% - 210px");
    }
}

div.timepicker {
    direction: ltr;
    &,
    * {
        font-family: monospace !important;
    }
    .timepicker__actions {
        height: 45px;
        padding: 0;
        position: relative;
        div {
            button span {
                font-family: iranyekan !important;
            }
            position: absolute;
            top:0;
        }
        div:first-child {
            left: 10px;
        }
        div:last-child {
            right: 10px;
        }
        &:after {
            clear: both;
            display: block;
            content: ' ';
        }
    }
}

.logbox {
    background: #444;
    color: chartreuse;
    direction: ltr;
    padding: 13px;
    box-sizing: border-box;
    font-size: 11px;
    font-family: tahoma !important;
    text-align: left;
    margin: 30px auto;
    border-radius: 10px;
    display: none;
}

#start {
    .mat-tab-label,
    .mat-tab-link {
        color: #fff;
    }
    .mat-tab-header-pagination-disabled .mat-tab-header-pagination-chevron {
        border-color: rgba(255, 255, 255, .3);
    }
    .mat-tab-header-pagination-chevron {
        border-color: rgba(255, 255, 255, .9);
    }
}

body {
    background: #efefef;
    background-size: cover;
    font-family: iranyekan;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

[dir=rtl] {
    .mat-radio-label-content {
        padding-left: 12px !important;
        padding-right: 4px !important;
    }
    th.mat-header-cell {
        text-align: right;
    }
}

.clear {
    clear: both;
    content: ' ';
}

.widget {
    form .mat-form-field,
    table {
        width: 100%;
    }
    form {
        margin-top: 15px;
    }
}

.form-group {
    margin-top: 10px;
    margin-bottom: 5px;
}

.full-width {
    width: 100%;
}