<div id="calendar">

  <aside>

    <app-calendar-month [showYearTitle]="true" [fadeInDelay]="1" [month]="calendarType == 'persian' ? moment().jMonth() +1: moment().month() +1"
      [year]="calendarType == 'persian' ? moment().jYear()  : moment().year() " [size]="'mini'" [calendarType]="calendarType"></app-calendar-month>



    <div class="my-calendars">

      <div class="title">
        تقویم های من
      </div>
      <ul>
        <li *ngFor="let cal of calendars">
          <mat-checkbox [(ngModel)]="calendarsToShow[cal.value]" (ngModelChange)="calendarsToShowChange()">
            {{cal.label}}
          </mat-checkbox>
        </li>

      </ul>
    </div>


  </aside>

  <div class="toolbar">

    <div class="inner">

      <div class="box type">

        <mat-form-field>
          <mat-select [(ngModel)]="calendarType" (ngModelChange)="typeChange(calendarType)" placeholder="نوع تقویم">
            <mat-option [value]="'persian'">
              جلالی
            </mat-option>
            <mat-option [value]="'gregorian'">
              میلادی
            </mat-option>

          </mat-select>
        </mat-form-field>

      </div>


      <div class="box view">

        <mat-form-field>
          <mat-select [(ngModel)]="calendarView" placeholder="نمایش">
            <mat-option [value]="'year'">
              سال
            </mat-option>
            <mat-option [value]="'month'">
              ماه
            </mat-option>

            <mat-option [value]="'week'">
              هفته
            </mat-option>

            <mat-option [value]="'day'">
              روز
            </mat-option>


            <mat-option [value]="'calendars'">
              تقویم های من
            </mat-option>

          </mat-select>
        </mat-form-field>

      </div>


      <div class="box month" *ngIf="calendarView == 'month'">
        <img src="assets/icons/arrow-right-next-10.svg" (click)="prevMonth()" alt="" />

        {{ calendarType == 'persian' ? rpd( date.format("jMMMM jYYYY")) : rpd( date.format("MMMM YYYY")) }}

        <img src="assets/icons/arrow-left-back-10.svg" (click)="nextMonth()" alt="" />
      </div>



      <div class="box year" *ngIf="calendarView == 'year'">
        <img src="assets/icons/arrow-right-next-10.svg" (click)="prevYear()" alt="" />

        {{ calendarType == 'persian' ? rpd( date.format("jYYYY")) : rpd( date.format("YYYY")) }}


        <img src="assets/icons/arrow-left-back-10.svg" (click)="nextYear()" alt="" />
      </div>


    </div>

  </div>

  <div class="big-calendar">

    <app-calendar-month *ngIf="calendarView == 'month'" [month]="calendarType == 'persian' ? date.jMonth() +1 : date.month() +1 "
      [year]="calendarType == 'persian' ? date.jYear()  : date.year() " [calendarType]="calendarType"></app-calendar-month>

    <app-calendar-year *ngIf="calendarView == 'year'" [year]="calendarType == 'persian' ? date.jYear()  : date.year() "
      [calendarType]="calendarType"></app-calendar-year>



  </div>
</div>