#calendar {
    position: fixed;
    top: 50px;
    background: #fff;
    height: calc(~"100vh - 50px");
    width: 100%;
    left: 0;
    z-index: 300;
    display: none;
    box-sizing: border-box;
    .toolbar {
        position: absolute;
        top: 15px;
        left: 0;
        height: 70px;
        width: 100%;
        line-height: 50px;
        .inner {
            margin: 0 auto;
            padding: 0 15px;
            box-sizing: border-box;
        }
    }
    .month-view {
        position: absolute;
        top: 75px;
        right: 15px;
        width: calc(~"100% - 30px - 320px");
        height: calc(~"100vh - 150px"); // height:auto;
        overflow: auto;
        overflow-y: scroll;
        box-sizing: border-box;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        display: grid;
        .block,
        .weekday {
            font-size: 13px;
            line-height: 22px;
            display: block;
            padding: 10px; //  margin: 5px;
            box-sizing: border-box;
            font-weight: 100; //    border: 1px solid rgba(0, 0, 0, .05);
            //   background: rgb(245, 245, 245);
            //  border-radius: 5px;
            //    box-shadow: -3px 3px 0 rgb(235, 235, 235);
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            border-right: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            transition: all ease 1.5s;
            transform-origin: center center;
            &:hover {
                transition: all ease .15s;
                border-top-color: rgba(0, 0, 0, 0.25);
                border-right-color: rgba(0, 0, 0, 0.25);
                background: rgba(0, 0, 0, 0.015);
            }
        }
        .block {
            .day {
                font-weight: bolder;
                font-size: 26px;
                color: rgba(0, 0, 0, 0.30);
                line-height: 34px;
            }
            .month {
                display: none;
                font-size: 20px;
                color: rgba(0, 0, 0, 0.15);
                line-height: 30px;
                font-weight: 500;
            }
            &.prevMonth,
            &.nextMonth {
                background: rgba(0, 0, 0, 0.03);
                .day {
                    color: rgba(0, 0, 0, 0.15);
                }
                .month {
                    display: block;
                } // opacity: .5;
            }
        }
        .weekday {
            // background: rgb(240, 240, 240);
            font-weight: bold;
            font-size: 15px;
        }
    }
}