<div id="panel" *ngIf="dashboardService.schema?.dashboard">
  

<header id="header">


  <div class="inner">
    <div class="logo">
      <img src="assets/graphics/brand/logo-6.svg" />
    </div>
    <div class="profile">
      <img src="assets/icons/account-profile-user-4.svg" alt="">
    </div>
    <div class="arrow">
      <img src="assets/icons/arrow-down-below-8.svg" alt="">
    </div>
    <div class="plan">
      نسخه پایه سی آر ام
    </div>

    <div class="upgrade">
      <img src="assets/icons/badge-26.svg" alt="">
      ارتقا طرح
    </div>
    <div class="clearfix"></div>
  </div>

  <nav class="primary">
    <ul>
      <li *ngFor="let section of dashboardService.schema.dashboard">
        <a [class.active]="dashboardService.currentSection.name == section.name" [routerLink]="['/panel' , section.name]">
          <img [src]="'assets/icons/' + section.icon + '.svg'" />
          <span> {{ section.title }} </span>
        </a>
      </li>
    </ul>
  </nav>


  <nav class="secondary" *ngIf="dashboardService.currentSection">
    <ul>
      <li *ngFor="let tab of dashboardService.currentSection.tabs">
        <a [class.active]="dashboardService.currentTab.title == tab.title"
          [routerLink]="['/panel' , dashboardService.currentSection.name,tab.title]">
          <span> {{ tab.title }} </span>
        </a>
      </li>
    </ul>
  </nav>
</header>


<section *ngFor="let widget of dashboardService.currentTab?.widgets"
  class="widget widget-{{widget.component.replace('Component','').toLowerCase()}}">

  <ndc-dynamic [ndcDynamicOutputs]="{
    DashboardCommand: dashboardCommand()}" [ndcDynamicComponent]="dynamicComponents[widget.component]"
    [ndcDynamicInputs]="widget.inputs || {}"></ndc-dynamic>


</section>

</div>