<div id="panel" *ngIf="dashboardService.schema?.dashboard">


  <header id="header">
    <div class="inner">
      <div class="logo">
        <img src="assets/favicon.png" />

        <div class="text">

          <h1>
            Serendip
          </h1>
          <small>Data dashboard</small>
        </div>

      </div>

      <div class="nav-toggle" (click)="mobileNavVisible = !mobileNavVisible" [class.active]="mobileNavVisible">

      </div>

      <div class="icon" [matMenuTriggerFor]="appsMenu">
        <img src="assets/icons/tab-4.svg" alt="">
      </div>


      <mat-menu #appsMenu="matMenu">
        <button mat-menu-item>
          <img src="assets/icons/note.svg" alt="">

          Notes</button>
        <button mat-menu-item>
          <img src="assets/icons/calendar-1.svg" alt="">
          Calendar</button>
        <button mat-menu-item>
          <img src="assets/icons/upload.svg" alt="">
          File manager</button>
      </mat-menu>


      <div class="icon" [matMenuTriggerFor]="accountMenu">
        <img src="assets/icons/account-profile-user-1.svg" alt="">
      </div>

      <mat-menu #accountMenu="matMenu">
        <button mat-menu-item>Profile</button>
        <button mat-menu-item>Switch business</button>
        <button mat-menu-item>Change password</button>
        <button mat-menu-item>Logout</button>
      </mat-menu>



      <div class="icon with-border">
        <img src="assets/icons/check-list-3.svg" alt="">
      </div>

      <div class="icon">
        <img src="assets/icons/notification-bell-5.svg" alt="">
      </div>



      <!-- <div class="plan">
      نسخه پایه سی آر ام
    </div>

    <div class="upgrade">
      <img src="assets/icons/badge-26.svg" alt="">
      ارتقا طرح
    </div> -->
      <div class="clearfix"></div>
    </div>


  </header>


  <nav class="primary">

    <ul>
      <li *ngFor="let section of dashboardService.schema?.dashboard">
        <a [class.active]="dashboardService.currentSection?.name == section.name"
          [routerLink]="['/panel' , section.name]" (click)="mobileNavVisible=false">
          <img [src]="'assets/icons/' + section.icon + '.svg'" />
          <span> {{ section.title }} </span>
        </a>
        <ul>
          <li *ngFor="let tab of _.take(section?.tabs,6)">
            <a [class.active]="dashboardService.currentTab?.title == tab?.title"
              [routerLink]="['/panel' , section?.name, stringToSlug(tab?.title)]" (click)="mobileNavVisible=false">
              <span> {{ tab.title }} </span>
            </a>
          </li>
        </ul>

      </li>
    </ul>

  </nav>

  <div class="bread-crumb">
    <ul>
      <li>
        <a [routerLink]="['/panel' ,  dashboardService.currentSection?.name]">
          <img [src]="'assets/icons/' + dashboardService.currentSection?.icon + '.svg'" />
          <span> {{ dashboardService.currentSection?.title }} </span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/panel' ,  dashboardService.currentSection?.name,dashboardService.currentTab?.title]">

          <span> {{ dashboardService.currentTab?.title }} </span>

        </a>
      </li>
    </ul>

  </div>

  <section id="popup" *ngFor="let widget of popup?.widgets"
    class="widget widget-{{widget.component.replace('Component','').toLowerCase()}}">

    <ndc-dynamic [ndcDynamicOutputs]="{
    DashboardCommand: dashboardCommand()}" [ndcDynamicComponent]="dynamicComponents[widget.component]"
      [ndcDynamicInputs]="widget.inputs || {}"></ndc-dynamic>

  </section>

  <section *ngFor="let widget of dashboardService.currentTab?.widgets"
    class="widget widget-{{widget.component.replace('Component','').toLowerCase()}}">

    <ndc-dynamic [ndcDynamicOutputs]="{
    DashboardCommand: dashboardCommand()}" [ndcDynamicComponent]="dynamicComponents[widget.component]"
      [ndcDynamicInputs]="widget.inputs || {}"></ndc-dynamic>

  </section>

</div>
