<div class="input" [class.selecting]="selectActive">
  <app-storage
    *ngIf="selectActive"
    [mode]="'select'" 
    [selectType]="selectType"
    (selectEvents)="onSelect($event)"
    [viewMode]="'in-form'"
  ></app-storage>
  <label for=""> {{ label }}</label>

  <div class="triple-block">
    <button (click)="selectActive = true" class="start-select">
      انتخاب فایل
    </button>

    <div class="preview"></div>

    <div class="path" *ngIf="selectType == 'single'">
      {{ model }}
    </div>

    <div class="path" *ngIf="selectType == 'multiple'">
      {{ model.length }}
    </div>

    <div class="clearfix"></div>
  </div>
</div>
